[2020-11-11 19:49] cyrush commented on #476
regrouping here:

using fmt we can support something like the following easily:

[code]

users are free to create as complex of a pattern as they want -- it approaches the flexibility of silo's name schemes.

@nselliott + @xjrc let me know what you think about this

[2020-11-11 19:59] cyrush commented on #476
our example from above:

[code]
[code]

[2020-11-11 23:56] nselliott commented on #476
@cyrush I like this suggestion.  One question about the '/' after the file pattern--should it be a ':' to distinguish that the file contains the path but is not part of the path?

[2020-11-11 23:58] cyrush commented on #476
@nselliott yep, that was a typo

[2020-11-17 20:59] cyrush opened #655 "relay hdf5: explore using strided memory space to avoid compacting for some hdf5 writes"
https://github.com/LLNL/conduit/blob/ce42b43380c4547a8ad403070b9a686bc95245cd/src/libs/relay/conduit_relay_io_hdf5.cpp#L1464

[2020-11-17 21:03] cyrush commented on #592
these were added as part of the 0.6.0 release

[2020-11-17 21:03] #592 closed

[2020-11-23 21:55] cyrush opened #659 "Node custom alloc plan"
support reg of alloc, dealloc, and copy triads
support per node selection of a triad

[2020-11-30 20:19] cyrush opened #663 "uberenv: are we missing some -k forwards?"

[2020-11-30 22:47] gsjaardema opened #664 "Documentation -- Example Triangle mesh has bad connectivity"
On the https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#tris example, I think that the connectivity for the "odd" numbered triangles is incorrect.  For all of the "even" triangles, the connectivity progresses clockwise around the element; for the "odd-numbered" triangles, the connectivity progresses counter-clockwise around the element.   I think that they should be consistent --

[2020-12-01 16:37] xjrc commented on #664
The orientations are inconsistent in this example because Blueprint doesn't require/enforce any particular element orientation; so long as the vertices of an element are presented end-to-end (which is always the case for triangles), the schema is considered to be valid. That being said, I've been thinking a lot about this issue lately in the context of LLNL data exchange and I think it may be bene

[2020-12-04 23:06] cyrush opened #666 "python: tp_vectorcall, new python struct member intro-ed in python 3.8"
leads to warning, we should init for python 3.8 or newer

[code]

[2020-12-04 23:06] cyrush commented on #666
https://docs.python.org/3/c-api/typeobj.html#c.PyTypeObject.tp_vectorcall

[2020-12-09 18:24] cyrush opened #667 "revisit list of names approach in blueprint index"
due to initial limitations that prevented lists from being written to hdf5 we used objects with empty children to enumerate names in places like the blueprint index:

example:

[code]

now that we have roundtrip list support for hdf5, we should add additional support for:

[code]

[2020-12-11 22:41] cyrush opened #669 "add support for writing hdf5 external links"
via the standard hdf5 api - conduit relay can read hdf5 files that include other hdf5 files using external links
we should also add a method to support writing external links via relay.

https://support.hdfgroup.org/HDF5/doc/RM/RM_H5L.html#Link-CreateExternal

[2020-12-17 18:41] mclarsen opened #670 "Summary argument to node.print()"
It would be nice to have summary style print method for printing out trees with very large leaves (fields). Example:

[code]
would only print out the first five values of a leaf.

[2021-01-04 17:25] mclarsen opened #672 "Overrite existing hdf5 files"
Currently, conduit throws an error when an hdf5 file already exists, which is a change from the previous behavior. This new change can cause MPI deadlock when coordinating writes among many mpi ranks. I think the default behavior should be to overwrite, with an option to complain.

[2021-01-06 17:45] cyrush opened #674 "add node to_summary_string"
follow on to suggestion made by @xjrc in #671

add to_summary_string at the node level

useful options:
- leaf # elements threshold
- # children threshold

[2021-01-06 18:43] cyrush commented on #666
augment python object tail macro.

do we need to check py version, or will the pres of `_Py_TPFLAGS_HAVE_VECTORCALL` be sufficient:

[code]

[2021-01-06 18:45] cyrush commented on #672
resolved in #673

[2021-01-12 20:50] xjrc opened #676 "make material numbering more explicit"
[Multi-buffer material sets](https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#multi-buffer-material-sets) suffer from an issue wherein the numbering/enumeration order for the material set is ill-defined. Consider the following `matset` definition and its corresponding index entry:

[code]

Since the base schema has no well-defined ordering for its materials, its entry within the i

[2021-01-12 20:56] xjrc commented on #676
One possible solution is to change `material_map` to being a conditional entry for uni-buffer material sets and make it an optional entry for all material sets, with the well-defined default of using lexicographical ordering to define this entry if it doesn't exist.

To help illustrate, here are some examples:

#### Explicit Specification ####

[code]

#### Implicit Specification ####

[code]

[2021-01-13 00:52] nselliott opened #678 "Clarify documentation for nestset window schema for origin coordinates"
I had some difficulties in an attempt to provide nestset information to Ascent, because the values I provided for `nestsets/nestset/windows/window/origin/{i, j, k}` were based on a global coordinate system rather than the local topology for each domain, while Ascent was coded to expect the origin to be based on the local topology.  I don't recall if this was discussed specifically when we devised

[2021-01-13 20:52] white238 opened #679 "Exported `conduit::conduit` has non-existant path in INTERFACE_INCLUDE_DIRECTORIES"
I get the following error when importing Conduit into Axom:

[code]

This seems to be a combination of OSX deprecating `/usr/include` and hdf5 adding a path that doesnt exist to it's include directories.

I could filter this from the target you export on your side or filter it incoming on Axom.  Thoughts?

[2021-01-13 21:02] cyrush commented on #679
this is with cmake 3.19.2

[2021-01-13 21:03] cyrush commented on #679
@white238  -- what version of HDF5, and was it built with cmake or not?

[2021-01-13 21:18] white238 commented on #679
hdf5 version 1.8.21 built with autoconf via spack

[2021-01-15 18:59] cyrush opened #681 "mixed type initializer lists make life hard"
[code]
Yields:

[code]
We would want to promote the int to a float in this case (as we do for yaml and json parsing)

Not sure what level of C++ wizardry we will need to figure out how to make that happen.

[2021-01-20 18:26] #672 closed, assigned to nobody

[2021-01-20 18:28] cyrush commented on #670
partially resolved by `Node::detail` method,  will be full resolved with`Node::to_summary_string` #674

[2021-01-20 20:27] xjrc opened #682 "add support for mpi-based `generate_*` functions"
In order to simplify the user burden for calling any of the `blueprint::mesh::topology::unstructured::generate_*` functions on a multi-domain mesh, the Blueprint library should include multi-domain/MPI extensions for these functions, which would handle the non-trivial task of generating new `adjsets` entries based on the function invocation and original mesh contents. Here's a rough sketch of the

[2021-01-27 20:13] cyrush opened #686 "add DataArray.fill"

[2021-01-28 17:25] xjrc opened #687 "add "relations" as a top-level entity"
In order to enable more coherent communication of relationship data, this data should be codified as a top-level entity type with a dedicated Blueprint section. Initially, this top-level entity type will only support [one-to-many relations](https://llnl-conduit.readthedocs.io/en/latest/blueprint_o2mrelation.html) and serve as a bridge to associate other Blueprint entities that are related but have

[2021-01-28 18:07] cyrush commented on #676
Ok, hitting this now and need to resolve for the VisIt Blueprint Plugin.

I like the idea of having the optional material map. If it is there, it can be used and propagated to the blueprint index matset entry (as well as solving the other issues related to converting between formats, including `to_silo`)

If it is not there, we will infer an implicit map based on the order passed.

For this, I can

[2021-01-28 18:11] xjrc commented on #676
@cyrush: Yes, that sounds good. In order to guarantee uniformity between the index and the mesh order, I think we should also update `generate_index` to use this inferred map when populating the material index section. If that and `to_silo` are both updated, I think we'll have hit every interface that depends on this.

[2021-01-29 19:39] cyrush commented on #468
I don't think this issue exists with newer zfp.

[2021-01-29 19:39] #468 closed

[2021-01-29 19:40] cyrush commented on #667
b/c there are issues with making sure names property map to ids -- we are now going to prefer an explicit `material_map`, with key value pairs that provide the material name to material id relationship.

[2021-01-29 19:40] #667 closed, assigned to nobody

[2021-01-29 19:44] cyrush commented on #647
c++11 is now required.

[2021-01-29 19:44] #647 closed, assigned to nobody

[2021-01-29 20:13] cyrush commented on #679
@white238 I haven't been able to trigger this yet. It does seem you are mixing homebrew and spack. I wonder if the path issue is due to what HDF5 is reporting b/c it is compiling against the homebrew mpich.

If you aren't already, can you see if there is an issue if you build with `hdf5~mpi` ?

(For your use case -- you don't need hdf5 to have mpi support)

[2021-02-01 21:20] #686 closed, assigned to nobody

[2021-02-03 17:32] cyrush opened #689 "Relay IO - generic support for read and write with offset"
An approach to resolve:

#587

Relay's IO Handle will provide a better interface than the top level unbound calls.

Target support for  HDF5, but support for basic io (YAML, etc) can be emulated with current in memory cached node strategy.

Goal
--------------------------

Allow user to write a leaf from a conduit node to an HDF5 data array using H5UNLIMITED dims and an explicit offset

C++ User I

[2021-02-04 00:25] cyrush opened #690 "mesh bp field verify escape hatch for mcnd array"
to be used only by the most brave experts

[2021-02-05 16:54] #589 closed

[2021-02-05 17:11] cyrush commented on #690
no longer needed, we should instead work on a proper way to support mcnd's

[2021-02-05 17:11] #690 closed, assigned to nobody

[2021-02-05 17:11] cyrush commented on #676
resolved in #685

[2021-02-05 17:11] #676 closed, assigned to nobody

[2021-02-05 17:23] cyrush commented on #147
revisited this, it is no longer an issue -- likely fixed with previous updates to numpy striding logic

[2021-02-05 17:23] #147 closed

[2021-02-05 17:25] cyrush opened #695 "PATH issues for python unit tests on some windows systems"
Had issues running python tests on my windows system, I think this could use a TO_NATIVE path treatment for cases where msys is in play:

https://github.com/LLNL/conduit/blob/6dbbe7bf718203fa75e0a5b9bb29689da5101233/src/cmake/SetupTests.cmake#L176

(Tests run if I copy dlls in, so pretty certain its a PATH issue)

[2021-02-05 23:15] cyrush opened #699 "simplify summary print logic implementation with lambdas"
https://github.com/LLNL/conduit/pull/698#discussion_r571274179

in both Node::to_summary_string and DataArray::to_summary_string

[2021-02-05 23:18] cyrush opened #700 "to_zzz methods using opts node"
Provide `Node::to_string`, `Node::to_json_string` variants that take formatting options via a node.

https://github.com/LLNL/conduit/pull/698#discussion_r571265710

[2021-02-05 23:20] cyrush opened #701 "to_summary_string support a max_depth_threshold"
add option that allows you to stop traversing at a user provided depth

[2021-02-05 23:22] cyrush opened #702 "deprecate Node::to_zzz_default methods?"
the are there to ease calling in debuggers, do we still need them?

[2021-02-06 02:07] #674 closed, assigned to nobody

[2021-02-06 02:11] #529 closed

[2021-02-06 02:11] cyrush commented on #552
resolved in #694

[2021-02-06 02:11] #552 closed

[2021-02-06 17:05] cyrush commented on #670
resolved addition of `Node::describe` and  `Node::to_summary_string`

[2021-02-06 17:05] #670 closed, assigned to nobody

[2021-02-09 02:44] cyrush commented on #648
the branch is no more.

[2021-02-09 02:44] #648 closed, assigned to nobody

[2021-02-10 19:42] cyrush opened #706 "conduit_bitwidth_style_types.h relies on c++11"
(which will never exist in c)

[code]

[2021-02-17 19:01] cyrush opened #710 "use o2m to support mixed shape toplogies"
now that we have o2m, we can provide a nice path for mixed shape topologies.

[2021-02-17 19:02] cyrush commented on #706
resolved in #707

[2021-02-17 19:02] #706 closed, assigned to nobody

[2021-02-18 19:57] cyrush opened #711 "builds against hdf5 1.12.x break due to api changes in HDF5"
Specifically  - the `H5Oget_info` compatibility macros changed.

[code]

[2021-02-20 00:45] cyrush opened #714 "python data type interface missing `is_object`"
perhaps others as well ...?

[2021-02-23 00:00] cyrush opened #716 "emulate the `offset`, `stride` etc for the basic handle case."
the basic i/o handle holds a node tree in memory, we can use this to emulate the same type of support provideid by #715 have for hdf5.

Doing so would extend support to the sidre handle for all cases as well (since it uses IOHandles).

[2021-02-23 00:00] cyrush opened #717 "use new IOHandle `offset`, `stride` support for buffer fetch in sidre."

[2021-02-23 00:02] cyrush opened #718 "add opts support to Python IO Handle interface"
update Python API to support updates to IOHandle interface in #715

[2021-02-23 02:21] cyrush opened #719 "add IOHandle tests that exercise `offset`, `size` opts"

[2021-02-25 18:10] xjrc commented on #625
This feature has also been requested by @aaroncblack.

[2021-02-25 18:13] cyrush commented on #625
I also think we can simplify a lot of  int vs index_t, etc logic if we attack:

https://github.com/LLNL/conduit/issues/339

[2021-02-26 18:52] cyrush commented on #689
resolved by @kevinhkhuynh  in #709  and #715

[2021-02-26 18:52] #689 closed, assigned to nobody

[2021-02-27 16:00] mclarsen opened #721 "CONDUIT_INSTALL_PREFIX"
How does this variable get populated? Its not used and super confusing.

[2021-02-28 23:02] mclarsen opened #722 "mcarray documentation"
I can't seem to reference line so I will just comment.

1) is_interleaved == array of structs (not struct of arrays)
2) in the table of valid strings (misspelling of separate)

[2021-03-01 16:35] cyrush commented on #721
It's used to propagate/store the install prefix, passed by -DCMAKE_INSTALL_PREFIX so it the install location can be accessed at runtime. It's set in `libs/conduit/CMakelists.txt`

[2021-03-01 16:36] cyrush commented on #722
thanks @mclarsen, we will improve these.

[2021-03-02 23:14] xjrc opened #723 "add 'to_1d' mesh transformation"
For the sake of convenience, many codes choose to represent their 1D meshes as "fake 1D meshes," which are meshes with multiple zones in the *real* direction (e.g. `r`) and one zone in the *fake* direction (e.g. `z`). However, this decision isn't uniform across codes, with outliers choosing to use a "real 1D meshes" instead.

In order to bridge the gap between these two representations, the Bluepr

[2021-03-08 22:33] cyrush opened #725 "add access to current info, warn, and error handler pointers"
to support push / pop style setting.

[2021-03-09 17:37] #714 closed, assigned to cyrush

[2021-03-10 01:28] cyrush commented on #678
resolved in #712

[2021-03-10 01:28] #678 closed, assigned to nobody

[2021-03-10 20:07] xjrc commented on #682
After pondering this a bit more, I've come to the conclusion that the MPI-based `generate_*` functions should be centered around an `adjset` input rather than `topology` input. The primary reason for this is that using an `adjset` as input indicates that there are shared entities between domains that need to be coordinated, where a `topology` input leaves this as an open question (as well as which

[2021-03-12 19:40] #725 closed, assigned to cyrush

[2021-03-16 00:05] cyrush commented on #663
during move to newer uberenv -- I reviewed and the expected `-k`s are there. Reopen if we get reports otherwise post merge of new uberenv.

[2021-03-16 00:05] #663 closed, assigned to nobody

[2021-03-16 00:08] cyrush commented on #682
@xjrc  I agree this is a better path. Q: If we have a case where adjsets aren't in play (even in mpi land) -- folks can just use the non mpi variants? Or are their still some aspects of the MPI case that would be helpful to provide?

[2021-03-16 22:44] xjrc commented on #682
@cyrush: I think the answer will be better illuminated after I write some code. My current feeling is that there will be some useful pieces of independent machinery in the MPI code (e.g. for each domain in a mesh, apply a transform to a specific topology and place the results in a uniform path), but I've not thought very hard about how these pieces might look as dedicated interfaces. We should rev

[2021-03-16 22:45] cyrush commented on #682
Sounds good

[2021-03-17 21:00] cyrush opened #729 "long standing puzzle: exceptions vs fortran vs mpi vs spack vs macOS"
long standing issue I have suffered with on my laptop --  related to libunwind:

Throwing an exception in an executable that links against mpi crashes:

[code]

In this case `libgcc_s.1.dylib` is part of the std libs supporting packaged for mac gfortran.
(https://gcc.gnu.org/wiki/GFortranBinaries#MacOS)

I know the`libgcc_s` dependency exists b/c of `libmpifort.12.dylib` b/c ldd leads me to

`/usr

[2021-03-19 04:09] uturuncoglu opened #730 "Couple of question related to Conduit and Fortran API"
I have couple of questions related with Conduit that i could not find answer in the documentation.

- It seems that there is no Fortran documentation and i am referring `src/tests/conduit/fortran` directory. I just wonder that is there any documentation for Fortran.
- I just wonder that is there any example/way to pass data from Fortran to Python or maybe Fortran to C and then Python? I am experim

[2021-03-19 23:07] cyrush commented on #730
@uturuncoglu  Thanks for your questions! Here is some info I hope helps:

1. Unfortunately, there is not a tutorial for fortran. I would love for it to exist -- Most of our fortran use cases involve wrapping mesh data in fortran and then presenting for processing in C++ (and from then some times on to Python)

2.  We do use Conduit as a path from Fortran ==> C++ ==> Python in Ascent (https://githu

[2021-03-20 04:38] uturuncoglu commented on #730
@cyrush Thanks for your quick response and kindly help. You could see my comments below,

1 -  I just thought that it might be another source for Fortran examples but it seems there is no and it is totally fine for me. I could refer to the example and test codes for Fortran to learn more about it. They provide lots of information.

2 - If I could eliminate the data duplication along the way, Fortr

[2021-03-22 20:26] uturuncoglu commented on #730
@cyrush BTW, I could not find any example that demonstrates adding multiple dimensional array in Fortran side. There is an interface as `conduit_node_set_path_int32_ptr` but this gets number of elements. Is this also used for multi-dimensional pointers. If so, how this information will be converted to multi-dimensional representation in C++ or Python interface. Maybe there is a trick about it that

[2021-03-22 20:54] cyrush commented on #730
there is a gap here, since the lowest level of conduit doens't support mult-d arrays -- only strided 1-d arrays.

For these cases we, we store  `values` node with the data and `shape` with the shape info, and then reshape the view in python.

LLNL's Axom project (which leverages conduit) provides a datastore called Sidre that has fortran support with views that provide shape info:

https://github.

[2021-03-22 21:04] uturuncoglu commented on #730
Okay, it is good to know the limitations. I think that storing `shape` is good idea at this point. Since the interface uses assumed shape arrays `(*)` I think there is no any limitation to pass multi-dimensional array to Conduit to pass pointer to the C/C++. The only confusing thing is the memory ordering differences in Fortran and C++ and when the data reach to the Python level this could require

[2021-03-23 00:38] cyrush commented on #730
This gets confusing -- however It turns out the in-memory layout of the bytes fast-varies the same way, the difference is in how the indexing constructs are used in the languages.

I am working my way towards a fortran to python example, I'll try to demo this in the example.

[2021-03-23 23:47] cyrush opened #733 "relay::blueprint::read_mesh should use read only i/o handle"
default handle type is RW, and that is being used for -- conduit.relay.io.blueprint.read_mesh --  we should use R-ONLY.

Also add file open mode info to hdf5 open errors.

[2021-03-24 18:46] cyrush opened #734 "python: should str() also use summary string?"
for large data, `repr` works great, but if you `print()` a node you can get into trouble.

Should default `str` also use summary string. Folks that want the whole string can still use `to_yaml`, etc.

[2021-03-24 19:48] cyrush commented on #734
logic could also apply to print() in c++ and fortran (not sure if we made that change yet)

[2021-03-26 22:27] cyrush commented on #730
@uturuncoglu  I added a new standalone example project that demos C++ to Python, and Fortran to Python.

Here some details in the docs:

https://llnl-conduit.readthedocs.io/en/latest/tutorial_cpp_fort_and_py.html

And here is the source of the project:

https://github.com/LLNL/conduit/tree/develop/src/examples/cpp_fort_and_py

I don't have a multi-d array example in the fortran case, but I think t

[2021-03-26 22:31] uturuncoglu commented on #730
@cyrush Thank you very much for your great help. I'll look at it over the weekend and let you know. I could handle multi-d arrays by converting them to 1d and pass with that way and then reshape again in the destination. I was already doing it when I try to pass the data to ParaView Catalyst from Fortran before. It adds extra overhead but it could help to solve the problem.

[2021-03-26 22:34] cyrush commented on #730
you are welcome + sounds good.

The example does demo how to reshape to multi-d in python, so I think parts of the puzzle are in place.

Have a good weekend!

[2021-03-26 22:35] uturuncoglu commented on #730
yes, you are right! Thanks again.

[2021-03-27 05:18] uturuncoglu commented on #730
@cyrush I have just tested the approach that is shown in the examples but just for Fortran -> Python direction. I wrap the code that is found in the example around my demo application and try to send my custom node data. I could pass the node object to Python and see its content without any issue. That is really great! I still need to extend the node by adding more data and try to work with multi-

[2021-03-28 04:40] uturuncoglu commented on #730
@cyrush it seems that MPI app also works. I could see different node instance for each MPI task under python. That is really great. Also, the Python code use the reference from C++ interface which indicates that there is no data copy. Anyway, thanks again.

[2021-03-29 16:07] cyrush commented on #730
@uturuncoglu  Awesome, glad this worked for you!

Here are answers to your questions:

About zero-copy:

- For this case: We are wrapping Conduit Nodes, which is effectively zero-copying the Node object. There are data structures used to wrap across languages (bascially a void * in C, and a bit more in Python), but they should be trivial.

  I want to mention there is another way to zero copy data

[2021-03-29 18:48] cyrush opened #738 "reminder: fmt fix for xlc + nvcc"
https://github.com/LLNL/axom/pull/505

[2021-03-29 19:00] uturuncoglu commented on #730
@cyrush if I try to modify the code and run a python script rather than set of commands defined in `conduit_fort_to_py` it fails. Maybe I am doing something wrong. The script has following content,

[code]

and I add following `pyintp->run_script("process.py", py_mod_dict);` to the `conduit_fort_to_py` then I am getting segmentation fault. Do you have any idea? Thanks.

[2021-03-29 19:59] cyrush commented on #730
@uturuncoglu  in this case `pyintp->run_script()` runs a string containing python source. I think `pyintp->run_script_file()` is what you are looking for. Give that a try.

Also make sure to check the return code.  If something goes wrong you can get detailed error info using `pyintp->error_message()`

[2021-03-29 20:06] uturuncoglu commented on #730
@cyrush i also use it and it was same. Anyway, let me handle error and see what happens.

[2021-03-29 22:29] uturuncoglu commented on #730
@cyrush okay. using `run_script_file`is solved the problem. When running with MPI, Python layer does not know anything about the MPI and just run script 4 times with different input. I think it is already done under Ascent but how I could make Python side MPI aware? For example, if I want to combine the nodes coming from different processor, is it possible to do it in Python layer? or do I need to

[2021-03-29 22:50] cyrush commented on #730
Yes, we do do this in ascent and use mpi4py.

Basically for script files, we only read the source file on one process and then broadcast to the rest for execution as a string. In our case, MPI is already initialized (by C++ or Fortran) and the key is making sure we pass the right communicator.

(Edit)

We also do init with mpi4py in our python api tests:

https://github.com/Alpine-DAV/ascent/blob/

[2021-03-30 06:02] uturuncoglu commented on #730
@cyrush thanks for your detailed information. That is really helpful. I think that the problem that I faced in here is very basic. When I try to add `from mpi4py import MPI` to my Python script it crashes with segmentation fault. So, I have only single line in the script that tries to load the mpi4py. The trace is not usable even if i compile code with debug options and I could see any detail abou

[2021-03-30 21:14] cyrush opened #739 "can't use spack-built mpich 3.4.1 on macOS"
mpi simply crashes (blt smoke test fails)

[code]

Might be related to the following:

https://lists.mpich.org/pipermail/discuss/2020-August/006030.html

this is currently the default version spack wants to build  -- I will suggest another version.

[2021-03-30 21:32] cyrush commented on #739
can't use 3.3.x

[code]

[2021-03-30 22:20] nselliott opened #740 "Material-dominant uni-buffer matsets"
I would just like some quick clarification on the proper way to describe a material-dominant uni-buffer matset.  The only material-dominant example in the documentation uses a multi-buffer.

[code]

If I re-arrange this as a uni-buffer like below, is this a complete valid description of the matset?

[code]

[2021-03-31 05:32] uturuncoglu commented on #730
@cyrush i have some progress about the issue. I think that it was related with the Python installation on my local MacOS. It might be something wrong with the Python or some of its modules installed with `brew`. To be sure I tried to run the same code on NCAR's Cheyenne  platform and it seems it is working and I could pass MPI communicator to Python. Thanks for your kindly and great help.

One of

[2021-03-31 18:29] cyrush opened #741 "document env vars when using openmpi as root"
Document that running tests as root user with openmpi ( for example, in a container) requires two env vars:

[code]

We can fold into developer docs.

[2021-03-31 18:36] cyrush commented on #730
@uturuncoglu  thanks for the update -- it does sound like some build or environment issue on your macOS system. Those can be hard to understand. I build my open development libs env's using spack, but that can be a steep learning curve.  And thanks for info on the buffering issue.

[2021-03-31 18:49] xjrc commented on #740
@nselliott: I'm fairly certain that you've formatted the uni-buffer, material-dominant case correctly. I would double check that this schema passes when you pass it through `blueprint::mesh::verify`, but I think it should be good.

[2021-03-31 18:57] cyrush commented on #740
you could also run though `to_silo` and see if you get the same answer :-)

[2021-03-31 20:22] nselliott commented on #740
Thanks, I don't have a code doing this yet, but wanted to make sure I was on the right track.

[2021-03-31 20:22] #740 closed, assigned to nobody

[2021-04-05 18:02] uturuncoglu commented on #730
@cyrush is there any way to combine childs in node. I am using relay to combine data from different processor like `relay.mpi.gather_using_schema(n,rcv,0,comm_id)` but in this case `rcv` has children. I could access them as `rcv[0]["a"]` but I am not sure how those are combined and access as `rcv["a"]`. I could not find any examples in the documentation. Thanks.

[2021-04-07 19:37] cyrush commented on #730
@uturuncoglu the `Node::update` method may help, that helps with a case like:

n1 -> a: [0,0]
n2 -> b: [1,1]

n1.update(n2)

n1 -> a:[0,0]
          b:[1,1]

Or are you trying to extend leaf that is array with the same type?

We don't have a helper for extending, but we could add one.

[2021-04-12 18:34] xjrc opened #742 "add blueprint documentation for empty nodes"
The documentation needs to be extended to include a note about how empty nodes are interpreted as multi-domain meshes with no domains (see #696 for details).

[2021-04-16 17:01] xjrc opened #745 "change `topology::unstructured::to_polygonal` to `to_polytopal`?"
The new name would more accurately describe what the function does, but it would require updating some downstream libraries. This decision will be important as it will also impact #642 and the final names used for the functions in this PR.

Tagging: @cyrush, @nselliott

[2021-04-16 21:00] cyrush commented on #721
confusion here:

This seems like something you can set in `ccmake`, but that's not the case.

It's a var we use to orchestrate locating the final install dir and to setup our exported targets.

We should mark it as advanced, so its less prominent in ccmake.

[2021-04-21 23:01] cyrush opened #748 "namespace protect or symbol mangle for other built-in libs"
follow up from https://github.com/LLNL/conduit/pull/743, where we resolved  an issue where conduit symbols for rapidjson conflicted with another lib using rapidjson. (The fix was to use a custom namespace)

We may want to proactively apply either a custom namespace or mangle functions for other builtin libs:

* libb64
* libyaml
* civetweb

[2021-04-27 19:24] cyrush commented on #729
this is definitely related to linking against mpi fortran lib built against gfortran on macOS.

Conduit against CMake 3.15 using only MPI::MPI_CXX targets does not have this issue.
Hacking BLT to drop fortran mpi deps in Ascent resolves this issue.

Newer spack also allows mpich to be built w/o fortran support (openmpi still requires fortran to build with spack)

[2021-04-27 20:17] cyrush commented on #729
Not sure if my BLT hack experiment for ascent is conclusive. I'll update when I try to build with newer spack and mpich~fortran.

[2021-04-29 00:10] cyrush opened #752 "think through empty mesh considerations"
(@xjrc changing this to an issue since we may take a different approach than in #751)

using conduit develop in ascent -  we hit an MPI hang where mesh index gen failed when trying to fetch coordsets from an empty mesh.

I think our case was due to changes in verify that now let emptys through. That I knew, but its been hard to detangle the cascade of differences.

Ascent operations do often creat

[2021-04-29 18:18] cyrush commented on #752
another note:

verify for the case where there is data always requires at least one `coordset` and one `topology`.

That's consistent with our current docs https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#protocol (which we mentioned might need to be changed if we keep this change)

[2021-04-29 18:28] cyrush commented on #752
Trying to write a tests to explore what's a mesh. But I keep getting surprised.  I am 100% sure this is b/c I am rooted in the previous verify logic.

That said, here is what my mind considers valid mesh bp:

`blueprint::mesh::verify`

single-domain -> conduit node that presents the proper tree structure
multi-domain -> conduit node with children, and all  children present the proper single domain

[2021-04-29 19:54] cyrush opened #753 "cmake exported targets quandry"
`find_dependency` is recommend to find deps in exported targets -- however it seems to adjust the cmake policy stack in some way?

With `find_package` you can adjust policies with push/pop.

Will stick with `find_package` until this quandary is resolved.

[2021-04-29 22:11] xjrc commented on #752
Yes, that's a good idea. Just so we're crystal clear on all of the details, here's what the implementations were for all of the `mesh::verify` variants before and after 57702db0ce35b5cbeaee31179659a88385d94bce:

### Pre-57702db ###

- `blueprint::mesh::verify` uni-domain:

### Post-57702db ###

[2021-04-29 22:27] xjrc commented on #752
Yes, that's a good idea. Just so we're crystal clear on all of the details, here's what the implementations were for all of the `mesh::verify` variants before and after 57702db0ce35b5cbeaee31179659a88385d94bce:

### Pre-57702db ###

- `blueprint::mesh::verify` uni-domain: Given node contains at least a valid `coordset`, and optionally other valid paths
- `blueprint::mesh::verify` multi-domain: Giv

[2021-04-29 22:39] xjrc commented on #752
Also, as a quick response to your note on multi-domain `blueprint::mesh::is_multi_domain`: I think that it does still work as intended (unless I'm missing something!). As an important caveat, this function works under the assumption that [`blueprint::mesh::verify`](https://github.com/LLNL/conduit/blob/6f9d5b4a6ca8664e48f5b0e4bad1895b73a7da28/src/libs/blueprint/conduit_blueprint_mesh.cpp#L1406) pas

[2021-04-29 22:47] cyrush commented on #752
Thanks @xjrc, based on my testing - the code doesn't match your Post-57702db expectations.

Here is what I see:

Post-57702db:
============

`blueprint::mesh::verify` uni-domain:  **(now accepts empty nodes.)**

`blueprint::mesh::verify` multi-domain: Did not change.

Also an empty node is flagged as a multi-domain mesh.

[code]

[code]

VisIt is also part of the picture. VisIt has missing data su

[2021-04-29 23:12] xjrc commented on #752
I apologize for not being clear; there's ambiguity here because uni-domain and multi-domain `mesh::verify` use the same forward-facing interface, i.e. `blueprint::mesh::verify`. Here are the explicit functions I was referring to:

- `blueprint::mesh::verify` uni-domain: [`blueprint::mesh::verify_single_domain`](https://github.com/LLNL/conduit/blob/develop/src/libs/blueprint/conduit_blueprint_mesh.

[2021-04-29 23:19] xjrc commented on #752
Also, just so we have a log of the list of acceptable meshes, here's a text digest of the test case you posted above (I may have gotten test 3 wrong; please feel free to correct):

#### Test 1: Empty ####

[code]

#### Test 2: Non-empty List ####

[code]

#### Test 3: Embedded Lists ####

[code]

#### Test 4: Real Mesh ####

[code]

[2021-04-29 23:27] cyrush commented on #729
Smoking gun:

mpich (even its c libs) are linked to gfortran, which is linked to gfortran's gcc lib:

Which has a copy of unwind:

[code]

All libs also have to link to the main macOS system lib, which links a copy of libunwind:

[code]
And lib unwind also has `__Unwind_Resume`

[code]

Assembly from system version (`otool -tV`):

[code]

Assembly from the FORTRAN linked gcc version:

[code]

Case

[2021-04-29 23:30] cyrush commented on #752
Yep, those look right.

[2021-04-29 23:45] #729 closed, assigned to nobody

[2021-04-29 23:48] cyrush commented on #729
postmortem:

![57obpj](https://user-images.githubusercontent.com/1194526/116631850-a51f6f80-a90a-11eb-8c77-270d41be641f.jpg)

[2021-04-30 18:42] xjrc commented on #752
After looking over the VisIt source, I think empty node support will have minimal impact on the VisIt Blueprint plugin, due largely to how the code splits handling empty cases from validation cases. Here's a demonstrative example from [`avtBlueprintFileFormat.C`](https://github.com/visit-dav/visit/blob/develop/src/databases/Blueprint/avtBlueprintFileFormat.C):

https://github.com/visit-dav/visit/b

[2021-04-30 22:51] cyrush opened #755 "ndarray extension to fields"
a few ideas I don't want to lose, so throwing them up here:

using a ND array to define a field on a 2D structured mesh where assoc between field values and the elements is fully specified (vs blueprints implicit i,j relationship)

These examples are for a 10x10 element mesh:

scalar field:

[code]

vector field:

[code]

using a ND array to define a field o on an unstructured mesh where assoc bet

[2021-04-30 22:53] cyrush commented on #755
@xjrc

this extra info would allow us to automatically use things like ZFP that exploit ND structure.

I think -- its also an idea that could help us solve the striding demands for complex cases like @bryujin has.

[2021-04-30 22:54] cyrush commented on #755
the same approach could be applied to link structured topos to almost structured but kind of funky coordsets.

[2021-04-30 22:58] cyrush commented on #730
@uturuncoglu  I am going to close this issue since we now have better docs that help for this case. Please open another issue or ping me if you hit any new issues - and thanks again for the discussion here!

[2021-04-30 22:58] #730 closed, assigned to nobody

[2021-04-30 23:01] cyrush commented on #755
`offsets` is another option we may need.

[2021-04-30 23:03] cyrush commented on #755
and `indices` conflicts with the o2m use.

Overall - these ideas can help, but we need to carefully consider the proper names (the ones above aren't my proposal for proper names)

[2021-04-30 23:08] cyrush commented on #755
the `shapes` here implies ND vs `sizes` which implies `o2m` (1D to many (ragged/varying))

[2021-05-01 05:04] uturuncoglu commented on #730
@cyrush thank you for your great support.

[2021-05-05 15:57] cyrush commented on #755
matt used `labels` instead of `indices` in a demo, that's another option.

[2021-05-05 16:21] #413 closed

[2021-05-05 16:29] xjrc commented on #755
In general, I think this is a great idea and very necessary to deal with the growing complexity of data abstraction being folded into Conduit/Blueprint. I remember @mclarsen presenting some of his ideas on this subject a few months ago at the Conduit meeting; is there anywhere that I can find some recent examples? Looking at some concrete samples would help me better understand the logic/needs.

[2021-05-05 21:14] #733 closed, assigned to cyrush

[2021-05-06 21:02] joshessman-llnl commented on #679
After some investigation with @jandrej it was determined that the culprit may be a combination of [this logic](https://github.com/LLNL/conduit/blob/develop/src/config/conduit_setup_targets.cmake#L6-L9) and the fact that Conduit duplicates its CMake package files:
- once in `<install_dir>/lib/cmake`
- once in `<install_dir>/lib/cmake/conduit`

The logic linked above assumes that the installation di

[2021-05-06 21:51] cyrush commented on #679
Makes sense. The duplication logic was there as a stop gap for when it changed from less ideal setup to a more standard cmake standard setup (the one with the project name included)

I will remove:

`<install_dir>/lib/cmake`

and keep:
`<install_dir>/lib/cmake/conduit`

Sound good?

[2021-05-06 22:50] white238 commented on #679
A+ detective work @joshessman-llnl ! Thanks for tracking this down.

[2021-05-06 23:12] cyrush commented on #679
note, post this change -- axom will need to adapt this check:

https://github.com/LLNL/axom/blob/c4e24c7ffe2e44001db5e33c74fc583b8d9c4bae/src/cmake/thirdparty/FindConduit.cmake#L22

[2021-05-08 03:34] #679 closed, assigned to cyrush

[2021-05-10 23:31] #721 closed, assigned to cyrush

[2021-05-10 23:31] #722 closed, assigned to cyrush

[2021-05-13 20:38] cyrush commented on #719
resolved in #760

[2021-05-13 20:38] #719 closed, assigned to nobody

[2021-05-14 21:18] cyrush commented on #625
I need to think about this a bit more.

Compile time we could complain if the `index_t` range is bigger than mpi can accept. But that would needlessly limit many cases that would work.

At runtime we could check exactly when the size is bigger than MPI can handle.  But what is the best way to alert folks? An except will be a ticket to a MPI hang.

[2021-05-14 22:42] #666 closed, assigned to nobody

[2021-05-19 14:19] #718 closed, assigned to nobody

[2021-05-19 23:53] cyrush opened #765 "python 3.8 windows build error with related to use of `_Pragma`"
from win64 python 3 conda-forge auto build

[code]

It should be supported in visual studio -- not sure what is wrong:

https://docs.microsoft.com/en-us/cpp/preprocessor/pragma-directives-and-the-pragma-keyword?view=msvc-160

[2021-05-20 00:00] cyrush opened #766 "conda forge mpinompi builds fail"
example from builder: `osx osx_64_mpinompinumpy1.17python3.8.____cpython`

[2021-05-19-conda-forge-mpi-nompi-example.txt](https://github.com/LLNL/conduit/files/6512038/2021-05-19-conda-forge-mpi-nompi-example.txt)

[2021-05-21 18:42] xjrc commented on #682
After some more pondering, I've come to the conclusion that these functions and those being written by @nselliott in #642 will require some interface retooling. This is because, unlike other `blueprint::mesh::*::*` interfaces that can be called error-free assuming that the inputs pass a `blueprint::mesh::*::verify`check, the new `blueprint::mpi::mesh::generate_*` functions have a number of additio

[2021-05-21 18:47] cyrush commented on #682
I think they can check the preconditions and throw a descriptive error if those preconditions aren't met.
Yes it's a shift from past, but I think there are other cases where we will hit this as well (given that an empty node is now valid)

[2021-05-24 18:10] cyrush opened #770 "add test to e4s testsuite"
Add conduit test to: https://github.com/E4S-Project/testsuite

plan: use spack smoke test

pending: https://github.com/spack/spack/pull/23854

[2021-05-25 21:30] #765 closed, assigned to nobody

[2021-06-02 17:36] cyrush opened #774 "hdf5 zlib issue"
https://cdash.spack.io/build/100279

[2021-06-03 17:17] mathstuf commented on #753
How does it interfere with the policy stack? `find_dependency` is a simple macro around `find_package` without any policy logic.

[2021-06-03 17:29] cyrush commented on #753
Here is more context:

Looking at the logic that imports HDF5 targets for downstream users:

https://github.com/LLNL/conduit/blob/eb7dfce2229aac3b9644d422a44948509034e3c6/src/config/conduit_setup_deps.cmake#L41

I tried changing this to use `find_dependency`, instead of `find_package` (so the options like quiet, etc would be automatically passed on).  When I did this, I started seeing warnings rel

[2021-06-03 17:40] mathstuf commented on #753
Oh. I would just ignore that because it is saying that there is a `_ROOT` variable that might change lookup behavior that is being ignored in the current call. This is completely up to the consuming project based on its minimum CMake version.

FWIW, in VTK I just ignored `find_dependency` because I needed to pass other information down (version requirements, components, etc.) in the general case,

[2021-06-03 17:58] cyrush commented on #753
Thanks for the additional context.  I added the policy adjustment at the request of someone downstream to reduce noise when they built using conduit.

I think for now we will just stick with `find_package` as well, since this gives more flexibility even if `find_dependency` could make things a little easier in theory.

[2021-06-03 22:27] mclarsen opened #776 "Potential Magic Memory Solution for sharing between packages"
Scenario 1:
Data provider has GPU memory in a tree.
Data consumer can only handle host memory.

Magic:
Provide a way to magically interface and zero copy memory only if it exists on CPU, otherwise make a copy to the host.

Scenario 2:
Data provider has GPU memory in a tree.
Data consumer can handle GPU memory

Magic:
zero copy all pointers.

Specialized allocators could handle this but we lack an

[2021-06-09 22:14] xjrc opened #777 "add pairwise option to `adjsets` information"
In order to better support a number of codes, an option should be added to `adjsests` instances to specify whether their `groups` members are "pairwise" or "maximally shared." Given that these two representations are functionally equivalent, Conduit/Blueprint should support transformations between these representations as well. The example below demonstrates both of these representations:

### Exa

[2021-06-15 16:24] aaroncblack opened #778 "Memory overrun in fortran interface returning bool"
Aaron Skinner and I ran into a stack memory overflow on the Fortran interface:
[code]

The C function implementation is returning a 4 byte integer, but the Fortran interface has the return type declared as a
[code]
which is 1 byte.

So, there is a 3 byte overrun.

[2021-06-15 16:27] aaroncblack commented on #778
A couple possible fixes:
- change the C function to use a boolean ( if requiring the c99 standard is acceptable ).
Looks like the C function is currently upcasting the boolean coming from C++ to an integer.

- change the Fortran interface to return a 4 byte boolean ( logical*4 ).

[2021-06-21 18:49] cyrush commented on #778
thanks @aaroncblack. To keep the current interface -- we can wrap the c funcs with a different name  (we use `c_` prefix for other cases) and do the conversion in a method that implements the current interface.  I am sure exists in a few places, I'll do an inventory.

[2021-06-21 20:54] cyrush opened #780 "Node::compact_elements_to we rely on no-op for one case, but comment suggests that is an error case"
`Node::compact_elements_to` --- the if statement has a comment that when true, we should have an error (compacting something that can't be compacted)

if we change this to an error, tests fail.

It might be that this is just a pass through and should be a no-op, but we should understand deeper.

[2021-06-21 22:11] cyrush commented on #753
Closing, we will stick with find_package for now.

[2021-06-21 22:11] #753 closed, assigned to nobody

[2021-06-21 22:12] cyrush commented on #752
I think this is resolved.

[2021-06-21 22:12] #752 closed, assigned to nobody

[2021-06-21 22:13] cyrush commented on #745
as a bridge, should we have both?

[2021-06-21 22:14] cyrush commented on #734
c++ logic does not use summary string, I think it should -- possibly starting with `0.8.0`

https://github.com/LLNL/conduit/blob/c61109247de101e7c0c542b70b7e59ea48d85391/src/libs/conduit/conduit_node.cpp#L13218

[2021-06-21 22:30] xjrc commented on #734
I endorse this change.

[2021-06-21 22:36] xjrc commented on #745
I think my preference would be skipping the bridge because the code isn't used very many places (I think just my code and potentially @terryhaut 's code), but I'm fairly indifferent. Is there any way we can at least mark `to_polygonal` as deprecated and have it complain when called?

[2021-06-22 19:52] mathstuf opened #782 "In the C API, `conduit_node` is `void` which allows for surprising conversions"
Currently, the C API does:

[code]

which means the APIs are all really:

[code]

to the compiler. This means that:

[code]

typechecks and compiles just fine (and probably crashes or causes some other kinds of fireworks at runtime). Instead, it should be something like:

[code]

so that there is a distinct type associated with the call and the compiler can at least complain that types don't match

[2021-06-25 19:00] xjrc opened #783 "add in-place `generate_offsets` function"
There are a number of places where the `conduit::blueprint::mesh::topology::unstructured::generate_offsets` function is used to generate offsets in their default path (i.e. for input topology `n`, at path `n["elements/offsets"]`). In order to reduce the technical burden of pre-generating these offsets for internal code and savvy users, a non-const, in-situ alternative should be provided with an in

[2021-06-25 19:10] xjrc opened #784 "`conduit_blueprint_verify` tool cannot process basic JSON/YAML files"
The `conduit_blueprint_verify` tool fails to recognize basic JSON and YAML inputs. Attempting to submit JSON and YAML equivalents of [the rudimentary Blueprint rectilinear mesh example](https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#rectilinear) causes the following errors:

### JSON ###

[code]

### YAML ###

[code]

This should be fixed so that `conduit_blueprint_verify` can b

[2021-07-04 01:10] mathstuf commented on #782
I'd like to investigate fixing this in some way. Who else should be involved in such a discussion?

[2021-07-06 16:16] cyrush commented on #782
@mathstuf sorry for the delay. I agree this is an improvement. First step would be making the change and seeing if there are any surprises in CI.

[2021-07-07 22:19] cyrush opened #785 "gfortran 10 issue with fruit"
`t_fortran_smoke` fails to compile with fruit not finding `_gfortran_os_error_at`

[2021-07-09 18:23] cyrush commented on #339
We should do this soon :-)

[2021-07-19 18:40] cyrush opened #794 "better func sig for generate_functions"
From the header file:

https://github.com/LLNL/conduit/blob/d7f9ac7edef861f8b57a9e4abd579c50e5d9715e/src/libs/blueprint/conduit_blueprint_mesh.hpp#L319

It's hard to tell that `Node &n` is implied to be a valid blueprint topology.

We should change these to `topo` in the header. (Note these are topo in the cpp file)

[2021-07-19 18:49] xjrc commented on #794
I'm in favor of this change.

[2021-07-19 22:50] mathstuf commented on #782
See #795. The fix is pretty simple and doesn't seem to break the build here at least. Hopefully Catalyst and ParaView have been as careful…

[2021-07-20 02:10] cyrush commented on #776
If my memory serves me correctly:

We checked the spell book and discovered this was a dangerous type of magic, for which we should not wield.

@mclarsen let me know if I have it right.

[2021-07-20 15:43] #782 closed, assigned to nobody

[2021-07-20 15:51] rhornung67 commented on #776
Where can I get one of those "spell books"? I need some magic.

[2021-07-20 18:31] cyrush commented on #587
we now have this support from #709 and #715

[2021-07-20 18:31] #587 closed

[2021-07-21 02:29] #778 closed, assigned to nobody

[2021-07-21 16:03] cyrush opened #799 "reminder: think about reviving LLNL article on Harvey Mudd Conduit project"
external article URL was cycled, we have internal version that could be released, maybe we could host it in Conduit docs.

[2021-07-22 00:02] cyrush opened #800 "update polytess python method"
add `nz` arg and exception handling post merge of #793

[2021-07-22 15:39] cyrush opened #801 "final steps for generate sides field mapping"
vertex associated fields:
the values for the new vertices can be the average of the neighboring vertices

volume dependent fields:
calculate a volume of each new element in the sides mesh use this and the the original element ids to calc a fraction to weight volume dependent fields by

[2021-07-26 16:13] cyrush opened #804 "add compile time option to enable / disable conduit_relay_webserver"

[2021-07-28 02:25] #804 closed, assigned to nobody

[2021-07-28 02:27] #794 closed, assigned to nobody

[2021-08-04 20:45] cyrush opened #808 "silo write support doesn't conform to current blueprint specs"
This comment is 100% correct:

https://github.com/LLNL/conduit/blame/develop/src/libs/relay/conduit_relay_io_silo.cpp#L293

Silo support was added while the basic mesh blueprint was in flux, it needs to be reworked.

[2021-08-06 17:20] cyrush opened #811 "wire silo read mesh to blueprint read mesh"
Implementation will be exposed via:

`conduit::relay::io::silo::read_mesh()`

But we also want
`conduit::relay::io::blueprint::read_mesh()`

to be able to read overlink meshes

(this will be the unified interface folks call)

[2021-08-06 17:36] xjrc opened #812 "add I/O support for Silo meshes"
It should be possible to transform between Silo meshes on disk and Blueprint meshes in memory. For full support, this will require all of the following features:

- [ ] Read Support (Silo to Blueprint)
  - [x] Geometry
  - [x] Fields
  - [x] Materials
  - [ ] Species
  - [x] Parallel
- [ ] Write Support (Blueprint to Silo)
  - [x] Geometry
  - [x] Fields
  - [x] Materials
  - [ ] Species
  - [x] P

[2021-08-10 20:07] kevinhkhuynh opened #813 "HDF5 Offset bug"
Currently, offset and stride are integers in: https://github.com/LLNL/conduit/blob/develop/src/libs/relay/conduit_relay_io_hdf5.cpp

This is a problem for very large datasets whose number of elements are greater than INT_MAX. This can be fixed by switching from integers to hsize_t, which are unsigned long long.

[2021-08-11 22:13] cyrush opened #817 "relay test failure with with hdf5@1.10.7?"
doing a few test builds and a few unit tests failed when building against 1.10.7

investigate.

[2021-08-13 17:32] cyrush opened #820 "relay blueprint: root file only mode crashes in mpi cases?"

[2021-08-16 16:39] cyrush opened #821 "ENABLE_FIND_MPI=OFF but ENABLE_MPI=ON confusion"
on some platforms folks need to disable cmakes find mpi logic, but still want mpi on.

(the most common case is cray systems where they are using compiler wrappers, which magically put mpi on the link link)

Like other libs, we are using `FOUND_ZZZ` to guard dependent features.

In this case we should use `ENABLE_MPI` instead.

[2021-08-16 18:20] cyrush opened #822 "need docs + example for O2MIterator"

[2021-08-18 02:42] cyrush commented on #801
volume dependent was resolved in #807

[2021-08-18 02:43] cyrush commented on #813
resolved in #814

[2021-08-18 02:43] #813 closed, assigned to kevinhkhuynh

[2021-08-18 02:45] cyrush commented on #774
looks like the log might no longer exist, this may have been resolved by #816

[2021-08-18 02:46] cyrush commented on #755
TODO:
We have an evolution of this and a much better example, add the example here.

[2021-08-18 02:53] cyrush opened #825 "adj to cmake logic related to relay webserver being optional"
for imported targets, use a header check like the following:

https://github.com/LLNL/conduit/blob/1df10699a9824556acf0c665b98ffa0ca796b735/src/config/conduit_setup_targets.cmake#L50

[2021-08-18 21:51] cyrush opened #826 "getting start docs issues"
bootstrap env - should we remove it from does in favor of direct mention of uberenv?

config-build usage, are we talking making the right suggestions.

[2021-08-21 16:38] #821 closed, assigned to nobody

[2021-08-24 22:57] cyrush opened #830 "cmake typo"
reported here:

https://github.com/LLNL/conduit/blob/b8b6884d6a8ae4c243b938c50418b095b15ee0ab/src/cmake/thirdparty
/SetupPython.cmake#L28

[2021-08-25 02:31] cyrush opened #832 "new spack hdf5 + cmake issues"
static builds of hdf5 1.8 with spack using cmake are not reporting zlib as a dependency.

[2021-08-25 13:36] cyrush opened #833 "static build, why is this linker command even invited to the party?"
`-Wl,-rpath,::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

[2021-08-25 18:16] #832 closed, assigned to nobody

[2021-08-26 21:57] cyrush opened #836 "fmt compiler error with intel 17"
[code]

[code]

[2021-08-27 02:16] #836 closed, assigned to nobody

[2021-08-27 02:16] cyrush commented on #830
resolved in #831

[2021-08-27 02:16] #830 closed, assigned to nobody

[2021-08-31 02:57] cyrush commented on #774
and with improvements in #835

[2021-08-31 02:57] #774 closed, assigned to nobody

[2021-09-14 13:20] cyrush commented on #801
vertex assoc was resoled in #827

[2021-09-14 13:20] #801 closed, assigned to nobody

[2021-09-14 14:44] cyrush commented on #777
i believe the current blueprint is general enough to support both cases, so we should add properties to identify the cases and transforms to convert between the two

[2021-09-16 16:41] yurivict opened #840 "How to enable HDF5 support?"
There is no such cmake option.

The code has printouts like "HDF5 disabled, skipping save_read_mesh_opts test", but it isn't clear how to enable it.

Also one ```ascent``` testcase fails with ```conduit_relay lacks HDF5 support```.

[2021-09-16 18:23] cyrush commented on #840
You provide `HDF5_DIR`.

When passed, conduit will enable hdf5 support.  There is no separate enable option.

Some more cmake vars for similar options are shown here:

https://llnl-conduit.readthedocs.io/en/latest/building.html

[2021-09-16 19:37] yurivict commented on #840
Thanks!

[2021-09-16 19:37] #840 closed, assigned to nobody

[2021-09-16 19:39] yurivict opened #841 "-DADIOS_DIR=/usr/local fails: include could not find requested file: /usr/local/etc/FindADIOS.cmake"
[code]

adios2-2.7.1 doesn't install ```/usr/local/etc/FindADIOS.cmake```.

[2021-09-16 19:41] cyrush commented on #841
Conduit's support is for ADIOS1 -- not yet ADIOS2 and they aren't compatible. (ADIOS2 is a whole new API)

[2021-09-16 20:15] yurivict commented on #841
Ok, thanks.

[2021-09-16 20:15] #841 closed, assigned to nobody

[2021-09-16 21:38] xjrc commented on #777
@cyrush: Yes, agreed. I'd like to include this in #767 because I need it for some related processing. Here's a starter proposal:

## Spec Changes ##

[code]

I've included an `unspecified` category to provide room for codes that have unique representation needs.

We could also omit `type` and use data/tree structure to define these different styles instead (e.g. pairwise must have all `neighbors`

[2021-09-16 21:40] cyrush commented on #777
I vote for omitting the type as part of the what is presented and discovering it.

[2021-09-16 21:43] xjrc commented on #777
I think that's ultimately my preference as well, though it does incur a O(# of groups) cost, which is unique for a check like this. Do you think that's a permissible deviation?

[2021-09-16 21:44] xjrc commented on #777
(Perhaps already answered in your original response, but worth double checking.)

[2021-09-16 21:48] cyrush commented on #777
two things to consider:  Whats the cost during `verify` and what is the cost during the `is_` routines.

I think the `is_` routines can be higher cost, but also open to higher costs for verify.

[2021-09-16 22:04] xjrc commented on #777
All of the current `is_` routines (i.e. `is_multi_domain`, `is_multi_buffer`, `is_element_dominant`, etc.) are O(1) time, and all of the `verify` routines are O(# nodes in subtree) time. I think higher accuracy, higher cost `verify` routines are a good idea so long as this accuracy can be dialed in (e.g. checking data integrity instead of just types/structure), and I'm not opposed to making `is_*`

[2021-09-17 20:24] mclarsen opened #842 "Braid triangle mesh should not accept three mesh dims?"
You can ask for a explicit triangle mesh `tris` and specify the dims as `20,20,20` but the resulting mesh only has a 2d coordinate system.

[code]

[2021-09-17 20:39] mclarsen commented on #842
I assume the same thing happens for `quads`.

[2021-09-21 19:31] xjrc commented on #777
After working on this a bit, I think the data check is definitely the way to go. Most reasonable definitions of "pair-wise" and "max-sharing" adjacency sets cause the two categories to be non-disjoint (consider an adjacency set for just two abutting domains; this can be considered both "pair-wise" and "max-sharing"), which makes the `type` classification untenable.

Regardless, getting firm defini

[2021-09-21 19:46] cyrush commented on #777
Do we see a use case to transform `max-shared` into pairwise? If not, we might not need to even identify `pair-wse`.

Restated: Regardless of what is presented, do we feel that the (potentially de-duplicted) "maximally shared" representation is the one we should target our transforms to?

If so we might just need `is_max_shared` and `to_max_shared` (but with better names)

I guess I view it as:

`

[2021-09-21 19:55] xjrc commented on #777
Yes, we need `max-shared` to `pairwise` to go from MFEM (`max-shared`) to @terryhaut's code (`pairwise`). `is_pairwise` and `to_pairwise` are the key functions I need in the near-term; the `max-shared` equivalents are just bonuses (which we'll need to load external adjacency information into MFEM, but I don't know of a use case for this at present).

[2021-09-21 19:55] cyrush commented on #777
Got it, thanks for filling that gap for me :-)

[2021-09-23 22:57] xjrc commented on #777
I thought about naming a little bit more. How about instead of `max_shared`, we use the term `compact` or `compact_grouping` (to imply "we've grouped neighbors as much as possible")? These both may a bit overly restrictive as they don't allow for multiple groups spanning a single abutment, but this may be more inline with what MFEM requires/expects.

[2021-09-29 17:20] cyrush opened #843 "Node + Data Array -- diff of strings could be more helpful"
comparing two strings that differ,  in many case you will see a message that their lengths differ (which is true!), but requires too much brain power to digest and recognize quickly.

We should have a special case for strings to give more context.

[2021-10-05 02:06] #800 closed, assigned to cyrush

[2021-10-12 22:55] cyrush commented on #776
Closing since this is not the magic we are looking for.

[2021-10-12 22:55] #776 closed, assigned to nobody

[2021-10-15 23:22] cyrush opened #848 "appveyor windows ci python issues preventing builds"
appveyor windows ci conda setup started failing (config has been static for a very very long time)

With miniconda 3.6:

[code]

Trying newer (miniconda 3.7) fails in a different way -- it doesn't install a viable numpy.
[code]

[2021-10-26 18:53] #826 closed, assigned to nobody

[2021-10-27 21:30] cyrush commented on #848
resolved in #751

[2021-10-27 21:30] #848 closed, assigned to nobody

[2021-10-27 23:12] #843 closed, assigned to nobody

[2021-10-28 19:17] cyrush opened #854 "parmetis: use int64 for index type?"
detect both cases.

to use 64-bit -- requires update to conduit spack package to request proper parmetis build.

[2021-10-28 23:19] cyrush opened #855 "issue with mesh::generate_index when using external data"
I used `n.append().set_external()` to create a multi domain mesh, and when i passed this to generate_index, the string values were all empty strings.

Changing to `set()` created a valid index.

Need to investigate.

[2021-11-01 20:39] cyrush commented on #682
resolved in #767

[2021-11-01 20:39] #682 closed, assigned to xjrc

[2021-11-01 20:53] cyrush commented on #659
resolved with new mem manager support

[2021-11-01 20:53] #659 closed, assigned to nobody

[2021-11-01 20:56] cyrush commented on #354
@nselliott  -- I think we accomplished this?

[2021-11-01 23:53] nselliott commented on #354
Yes, this has been there for a while.

[2021-11-01 23:53] #354 closed

[2021-11-02 02:31] cyrush commented on #354
thanks @nselliott

[2021-11-02 18:15] cyrush opened #857 "read the docs build failure"
default build env isn't healthy

https://github.com/readthedocs/readthedocs.org/issues/8616

Fix from axom:

https://github.com/LLNL/axom/pull/696

[2021-11-02 19:50] #857 closed, assigned to nobody

[2021-11-03 16:33] Laganellac opened #859 "Potential memory leak in Node::set_string"
I noticed this yesterday when running valgrind over one of blueprint::table tests I was working on. Currently checked out on develop at 3363fa08.

Here's a small program that causes valgrind to report errors.

[code]

I've also attached the output of valgrind --leak-check=full --track-origins=yes --show-leak-kinds=all

[valgrind.out.txt](https://github.com/LLNL/conduit/files/7469223/valgrind.out.t

[2021-11-03 16:40] cyrush commented on #859
thanks @Laganellac.  I'll take a look, might be related to our new memory handlers.

[2021-11-03 17:04] cyrush commented on #859
@Laganellac, I think this leak might be the memory handler itself, not the string.

Your string would be `21` bytes, but we don't have a leak of that size.

As for the memory handler leak, brace yourself -- we leak the handler on purpose.

If you are curious why the handler is leaked, here is a note that explains that choice:

https://github.com/LLNL/conduit/blob/f18da11d51da7862eec5780687272fdb8b

[2021-11-03 17:25] Laganellac commented on #859
@cyrush Okay good to know!

[2021-11-03 17:29] #859 closed, assigned to cyrush

[2021-11-04 18:33] cyrush commented on #738
@white238 @joshessman-llnl

Looking to see if I should update fmt before next conduit release,

Q: Seems I need a two step update now, use the version of master from:

https://github.com/LLNL/axom/pull/505

And also these changes?

https://github.com/LLNL/axom/pull/682

Also, when building axom it doens't seem like the conduit's use of `fmt` has triggered problems?

That might be a sign I can hold

[2021-11-05 21:54] #625 closed

[2021-11-05 22:38] #741 closed, assigned to nobody

[2021-11-06 00:01] cyrush commented on #784
can confirm -- segfault with no protocol arg, and confusing messages when try to provide the protocol

[code]

[2021-11-06 00:10] cyrush commented on #784
Ok, the confusion here is b/c there are two protocols to specify:

One is the `blueprint` protocol (such as `mesh`), which you always need to provide.
The the other is the optional relay protocol (like `hdf5`).

To provide this, you use the `--relay-protocol` option.

Here are two working examples:

`./build-debug/libs/blueprint/conduit_blueprint_verify  mesh example.yaml`

`./build-debug/libs/blu

[2021-11-06 03:54] cyrush commented on #650
resolved in #860

[2021-11-06 03:54] #650 closed, assigned to nobody

[2021-11-08 19:20] #784 closed, assigned to xjrc

[2021-11-08 19:36] cyrush opened #866 "tp_vectorcall warning with python 3.10"
/Users/runner/miniforge3/conda-bld/conduit_1636394531728/work/src/libs/relay/python/conduit_relay_web_python.cpp:559:1: warning: missing field 'tp_vectorcall' initializer [-Wmissing-field-initializers]
};

[2021-11-08 19:38] cyrush commented on #766
another example:

[2021-11-08-mpinompi-macos-example.txt](https://github.com/LLNL/conduit/files/7499639/2021-11-08-mpinompi-macos-example.txt)

[2021-11-08 20:08] cyrush commented on #766
turns out, no mpi case is the only case were we run the tests (since MPI cases couldn't launch in CI)

So, the crashes aren't a good sign.

Need to invest to do local builds to see what is going on.

[2021-11-08 20:55] #825 closed, assigned to nobody

[2021-11-08 22:11] cyrush commented on #842
Worked on locking this down to `npts_z == 0`, throwing an exception if folks pass anything else for a 2D only topo.

In conduit's tests -- there are several places were we pass `npts_z == 1`.

With indirection in our tests, it's not trivial to track them all down -- but i am working on it.

Since they were in many tests, this usage might be prevalent in the wild as well.

Instead of an error, may

[2021-11-08 23:48] cyrush commented on #545
we should try this in our windows github action, instead of old windows install logic for MPI, we might be able to leverage:

https://github.com/mpi4py/setup-mpi

[2021-11-09 00:32] cyrush opened #869 "deprecated: npts_z !=0 as input for bp examples with 2d only shapes"
remove as part of `0.9.0` release

[2021-11-09 00:33] #734 closed, assigned to nobody

[2021-11-09 00:36] cyrush commented on #476
we have all the hard parts done - I think we need to add an example to our docs and then we can resolve this issue

[2021-11-09 00:39] cyrush commented on #854
We can detect both cases and use data accessor to support either.
We can also use value_fits if appropriate -- but we would not want to call on each entry, maybe a max reduction.

[2021-11-09 01:10] nselliott commented on #476
There is an example but it's not in the docs.

[2021-11-09 01:20] cyrush opened #870 "add changelog entries for new bp xforms and partition"

[2021-11-09 16:29] cyrush opened #872 "add ubuntu + gcc 11 to ci"

[2021-11-09 17:33] cyrush commented on #855
Figured out the issue, driver error.

The nodes that were passed to set_external were temporary.

[2021-11-09 17:33] #855 closed, assigned to nobody

[2021-11-09 17:34] cyrush commented on #842
resolved in #868

[2021-11-09 17:34] #842 closed, assigned to nobody

[2021-11-09 21:51] #742 closed, assigned to xjrc

[2021-11-09 21:51] #820 closed, assigned to nobody

[2021-11-10 17:38] cyrush commented on #745
@nselliott  Q:

For the non mpi lib blueprint, there was only one method `to_polygonal` that supported both polygons and polyhedra.

For the mpi lib blueprint, there are both `to_polygonal` and `to_polyhedral` methods.

What are your thoughts about `to_polytopal` to unify both cases?

[2021-11-10 21:15] nselliott commented on #745
@cyrush I have no problem with a name change, but perhaps there should be some differentiation between the naming of the non-MPI and MPI versions? They aren't really serial/parallel versions of the same thing.

[2021-11-19 23:46] cyrush opened #875 "conduit diff tree viewer (jupyter?)"
Conduit's diff trees provide a lot of info. For larger diffs, it would be really nice to have a viewer that organizes the info to make it easy to digest.

We could use jupyter or fancy text,  hatchet trees (https://github.com/hatchet/hatchet) might be a good inspiration -- however the conduit diff trees contain different info.

[2021-11-24 02:56] cyrush opened #876 "bug in array max function"
https://github.com/LLNL/conduit/blob/bf03f0c8a454f43b8e6c1aafc0ee4bd173c40229/src/libs/conduit/conduit_data_array.cpp#L394

Initial value should be:
https://en.cppreference.com/w/cpp/types/numeric_limits/lowest

[2021-11-29 20:58] cyrush opened #877 "write support for DataAccessor?"
issue to continue this thread:

https://github.com/LLNL/conduit/pull/824#issuecomment-963661824

think about what is possible and in what cases this would be useful

[2021-11-29 23:21] cyrush commented on #745
`to_polygonal` case for non-mpi lib is under `mesh::topology::unstructured`.  With this, it is implied to operate on a mesh topology.

The mpi methods operate on the entire mesh.

`mpi::mesh::to_polygonal` for assumes the input mesh is a 2D structured mesh with adjsets (and amr level info ?).
`mpi::mesh::to_polyhedral` for assumes the input mesh is a 3D structured mesh with adjsets (and amr level

[2021-11-30 00:23] nselliott commented on #745
They do use MPI, for example lines 448-459 in `conduit_blueprint_mpi_mesh.cpp`

[2021-11-30 00:26] cyrush commented on #745
I see. I was confused by the interface. We need to change these to take a communicator and not assume `MPI_COMM_WORLD`

[2021-11-30 19:48] cyrush commented on #770
resolved in https://github.com/E4S-Project/testsuite/pull/22

[2021-11-30 19:48] #770 closed, assigned to nobody

[2021-11-30 23:25] #876 closed, assigned to cyrush

[2021-12-02 00:51] #745 closed, assigned to xjrc

[2021-12-02 22:49] cyrush opened #880 "dray using conduit managed to seriously confuse raja with hip"
This might not be a conduit issue, it might be a dray issue.

This template method:
[code]

Causes the following error:
[code]
It seems l like we have some sort of namespace nesting error, b/c I otherwise I can't image why `raja::forall` would be trying to template specialize `conduit::operator+<unsigned int>` ??

[2021-12-07 17:24] #880 closed, assigned to nobody

[2021-12-09 19:58] cyrush commented on #545
resolved in #881

[2021-12-09 22:06] #545 closed

[2021-12-09 22:09] cyrush commented on #777
We think this might be done.

[2021-12-14 00:14] cyrush commented on #817
[code]

t_relay_io_hdf5 failures:

[code]

These cases involve `H5Oget_info` not behaving as I would expect.

fail to fetch info for existing object:

[code]

also fail to fetch info for an existing object (but causes a new object to be created and subsequent confusion)

[code]

`h5_info_status` is fail,  even though the object exists (verified by looking at hdf5 file)

[2021-12-14 00:41] cyrush commented on #817
the issue is related to magical conversion to an extendable dataset.

Due to our current logic calling chain,  we can have hdf5 ids (handles) that point to the old data set after it has been closed and a new data set was created.

[2021-12-14 01:13] cyrush opened #885 "relay explore hdf5 legacy object inquiry option"
legacy `H5Gget_objinfo` might be better to use than `H5Oget_info_by_name`

See: https://github.com/PyTables/PyTables/issues/402#issuecomment-75051913

need to understand implications for HDF5 1.10.x and 1.12.x

[2021-12-14 19:56] cyrush commented on #777
resolved in #767

[2021-12-14 19:56] #777 closed, assigned to xjrc

[2021-12-14 19:57] cyrush commented on #817
resolved in #884

[2021-12-14 19:57] #817 closed, assigned to cyrush

[2021-12-14 22:15] cyrush opened #887 "remaining steps to use partitioning for load balancing"
[ ] mapping boundary topo long with main topo
[ ] mapping back field values post part.

[2021-12-15 16:55] #711 closed, assigned to nobody

[2021-12-17 21:51] cyrush commented on #854
resolved in #886

[2021-12-17 21:54] cyrush commented on #766
update: linux builds that include tests (no mpi case) pass - it was only the macos cases that were failing.

I think its likely that the macos env needs extra setup for the unit tests to run with cmake.

linux tests are sufficient (since they will test the same versions of tpls).

conduit 0.7.2 has logic that causes test failures with hdf5 1.10.
These issues should be resolved in the 0.8.0 release

[2021-12-20 18:09] #854 closed, assigned to nobody

[2021-12-20 20:54] cyrush commented on #870
resolved in #890

[2021-12-20 21:08] cyrush commented on #739
due to this issue, we changed the macOS uberenv setup to prefer openmpi.

[2021-12-20 21:08] #739 closed, assigned to nobody

[2021-12-21 00:05] cyrush commented on #872
resolved in #891

[2021-12-21 16:34] #872 closed, assigned to nobody

[2021-12-21 16:47] cyrush opened #893 "conda forge build issues with 0.8.0 release"
linux builds: python 3.8 and 3.9 builds do something different with python path:

[code]

Python 3.8 build issue on windows only:
[code]

[2021-12-21 16:48] #870 closed, assigned to nobody

[2021-12-21 16:48] cyrush commented on #766
this flavor of issue resolved with 0.8.0 (macos mpi no mpi builds now work)

[2021-12-21 16:48] #766 closed, assigned to nobody

[2022-01-04 10:15] ax3l opened #896 "Support HDF5 1.12+"
Conduit as of 0.7.2 requires the HDF5 APIs <=1.10: https://github.com/spack/spack/pull/28091

This should be relaxed to _also_ work with newer HDF5 versions, i.e., the 1.12 and 1.13 API conventions. (Ideally without dropping support for the 1.8 and 1.10 APIs of HDF5.)

[2022-01-10 09:47] francois-kitware opened #897 "Extend Mesh Blueprint for mesh meta-data (aka FieldData in VTK world)"
Hello,

in the context of ParaView's Catalyst2 library, which uses conduit nodes intensively, we need to support the VTK's FieldData. FieldData is associated to a data object (a mesh in conduit world) and it contains several arrays to describe global properties of the mesh. The arrays are not associated to vertex nor element.
Some examples : save the time at which the data were recorded, save the

[2022-01-10 19:41] cyrush commented on #897
@francois-kitware I think the best place for this type of info is in `state`.

In fact, you could start experimenting with that as a solution right now -- because the blueprint verify should not complain if you add extra nodes under state.

Longer term, we could think about formally extending the blueprint to support these as optional constructs.

[2022-01-10 22:11] cyrush commented on #896
@ax3l with the `0.8.0` release, I added support for HDF5 1.12 - with our unit tests passing.

Conduit can still be compiled against HDF5 1.8.x and 1.0.x.  I haven't tested 1.13.

So I think this support is here with the new release, but I am not sure if you have had a chance to leverage that.

[2022-01-11 17:38] francois-kitware commented on #897
@cyrush Thanks for the quick answer!

So, we'll start the implementation with the `state` node and eventually report it here for suggestion and potential official support in the future.

[2022-01-12 19:32] cyrush opened #899 "Talk about NodeIterators in the tutorial (both c++ and python)"

[2022-01-13 17:10] cyrush opened #900 "docs add for python -- add example to fetch all leaves into a flat list or dict"

[2022-01-13 20:52] cyrush opened #901 "git_archive_all confused by nested submodules"
`spack_configs` as a submodule, including radiuss spack configs as a submodule trips up git_archive_all

Had to edit git_archive_all to produce release tarballs.

we aren't using the radiuss spack configs yet, so near term we can remove them, but it would be good to know what is going wrong.

[2022-01-13 21:00] rhornung67 commented on #901
@cyrush if it's any help, here's an example of what we do in RAJA, Axom, Umpire, etc. https://github.com/LLNL/RAJA/blob/develop/scripts/make_release_tarball.sh

[2022-01-15 00:02] cyrush commented on #74
this is evolving into a more abstract ND Iterator or ND Relation capability that will support:

[code]

along with:

[code]

strides and implicit shape have been explored in the context of structured meshes.

we are working on extensions to the mesh blueprint that will also demo offsets.

[2022-01-15 00:08] cyrush commented on #822
here is an example of use in parmetis to iterate over polytopal elements:

https://github.com/LLNL/conduit/blob/15d20c8c0652af75aaf3ba9b532fd3684fbbf1c7/src/libs/blueprint/conduit_blueprint_mpi_mesh_parmetis.cpp#L743

I also want to think about this in the context of ND Iteration.

Are there changes we should make to O2MIter to provide a similar interface for both cases.

[2022-01-18 19:06] cyrush commented on #893
Python 3.8 windows issue is related to warnings pragma for tp_print field.

[2022-01-18 21:31] #901 closed, assigned to nobody

[2022-01-19 20:01] cyrush commented on #893
python finding issue seems to be related to use of env vars in paths passed during the condaforge build..

While CMake can interpret them, our CMake python inspection fires off python process which will not seem them. We could try to resolve in CMake, but I think the best approach is to resolve them in the shell before they are handed to CMake.

[2022-01-20 19:54] cyrush commented on #893
the python finding issue is not an env var thing, in the conda build env python reports the static lib in `LDLIBRARY`, however the static lib is not installed.

To get it installed, you have to request `libpython-static`.

Trying this, I hit conflicts with with the conda solve.

[2022-01-21 17:39] cyrush commented on #893
resolve python find issue with update to conda forge recipe (needed some extra constraints, since static libs pivot exists for python 3.8 >= )

Windows issue should be solved by removing chicken and egg treatment of warnings, but I can test again.

[2022-01-24 18:18] agcapps opened #907 "Representing structured data with equal-sized element and vertex arrays"
One particular data format we want to represent in Blueprint stores the same count of vertices and elements along a dimension.  (Mesh Blueprint needs to represent n+1 vertices with n elements.)  This data format is a block-structured mesh with two ghost zones.  Here is an example of a mesh with one element field and one vertex field.  The "real" data is 3 columns by 2 rows and the format stores tw

[2022-01-24 18:29] cyrush commented on #907
Looks good!

One thing I want to make sure we capture.  The expected shape of the vert-assod and ele-assod fields is determined by the topology (that's a relationship we are trying to preserve)

Idea: Even before we have the NDIterator worked out, for debugging we will want a utility function that converts this style of mesh to one w/o the offsets and strides (copying the subsets necessary). This

[2022-01-24 18:35] agcapps commented on #907
You wrote, "One thing I want to make sure we capture. The expected shape of the vert-assod and ele-assod fields is determined by the topology (that's a relationship we are trying to preserve)"

What does this mean if we are specifying `offsets` and `strides` for each field?

[2022-01-24 18:38] cyrush commented on #907
`offsets` and `strides` still need `shape` to be interpreted.

(the topo's `shape` can imply default `offsets` and `strides`, however `offsets` and `strides` are not useful for indexing w/o `shape`)

[2022-01-24 19:57] agcapps commented on #907
Edited the issue description to elaborate on why fields take their `shape` from the topology.

[2022-01-24 22:54] cyrush opened #908 "O2M and ND Relation Map Interface"
Strawman for new index-based interface for NDRelations and O2MRelations:

[code]

For O2M - this style can be GPU friendly, vs the existing O2MIterator.

For ND - we expect an ND index based interface will be desired over an iterator.

[2022-01-25 00:09] cyrush opened #909 "Windows Python 3.8 (+?) DLL Resolution"
starting with 3.8, python on windows changed dll resolution strategy for modules.

Prior to this, we were able to provide the path to Conduit DLLs via `PATH` env var and Python would resolve them on start up.

For Python 3.8, this behavior was disabled, here are some docs and discussions related to this change:

https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew

https://docs.python.or

[2022-01-25 00:48] cyrush commented on #909
This is the cause of the symptoms in: #695

[2022-01-25 17:35] cyrush commented on #909
resolved in #910

[2022-01-25 17:35] #909 closed, assigned to nobody

[2022-01-25 17:35] cyrush commented on #893
resolved in #910

[2022-01-25 17:35] #893 closed, assigned to nobody

[2022-01-25 17:36] cyrush commented on #695
resolved in #910

[2022-01-25 17:36] #695 closed, assigned to nobody

[2022-01-25 18:03] cyrush commented on #907
to keep things connected, these ideas are an evolution of the ideas in #755

[2022-01-25 22:00] cyrush commented on #887
A few notes on boundary topo reloc for cases we are interested in:

boundary topo is defined on the same coordset as main topo

we can create a map from boundary topo elements to main topo elements, this can be stored as a field (it's not a o2m)

connecting this with the parmetis field from the main topo, we can create a field that describes how to relocate boundary topo to the same place as the m

[2022-01-26 17:31] lee218llnl opened #913 "src/libs/blueprint/conduit_blueprint_mpi_mesh_parmetis.cpp need to #include <algorithm>?"
I am trying to build conduit-0.8.1 in spack and got this error:

[code]

Should this source file ```#include <algorithm>```?

[2022-01-26 17:33] cyrush commented on #913
@lee218llnl -- thanks for the report -- what compiler are you using?

For a quick fix, we can add a patch to the spack package.

[2022-01-26 17:33] lee218llnl commented on #913
$ gcc --version
gcc (GCC) 8.5.0 20210514 (Red Hat 8.5.0-4)

[2022-01-26 17:34] lee218llnl commented on #913
I should add that this is for TOSS 4, so you can test on corona if you have access

[2022-01-26 17:35] cyrush commented on #913
thanks, I'll take a look!

[2022-01-26 20:36] lee218llnl commented on #913
I created a patch in my personal copy of spack, so no rush on this. I could submit a PR to spack if you like, but I'm not sure which release versions of conduit this would apply to.

[2022-01-26 20:41] cyrush commented on #913
Great -  the patch would apply to `0.8.0` and `0.8.1` (that feature is new starting in `0.8.0`. If you can add it to spack that would be great, or I can do it later this week.

[2022-01-26 22:40] lee218llnl commented on #913
It looks like 0.8.0 doesn't use std::sort, so I just added 0.8.1 to the spack package along with a patch that just includes the algorithm header.

[2022-01-26 22:41] lee218llnl commented on #913
do you need me to submit a PR to conduit itself?

[2022-01-26 22:41] cyrush commented on #913
that would be great :-)

[2022-01-27 00:30] #913 closed, assigned to nobody

[2022-02-01 22:26] agcapps opened #918 "Cautiously consider supporting yaml tags"
Use case: if heuristics are needed to say whether a leaf is a numeric or a string, look at the tag.

[2022-02-08 01:00] cyrush opened #921 "save_mesh bug - `:mesh` added to end of domain files"
This code fails:
[code]

For some reason, the names of the domain files have the suffix `:mesh`, which confuses everything.

[code]

Happens with `yaml` and `json` protocols.

Works fine with `hdf5` protocol and `root_only` style work fine with `yaml` or `json`

[2022-02-09 02:02] cyrush opened #922 "CMAKE_THREAD_LIBS_INIT empty on Perlmutter?"
for config.mk case, `-ldl and -lrt` exist, but `-lpthead` is missing:

https://github.com/LLNL/conduit/blob/8edd1c6118bb6f798ea569a57b5cda2ae2ada600/src/libs/relay/CMakeLists.txt#L172

This leads to linking error when using config.mk in downstream code (ascent)

[2022-02-09 02:45] cyrush commented on #922
ok, this isn't an issue.

Conduit was compiled with cray compiler wrappers (which invoke magic for threads)
The config.mk downstream was using gcc.

When we use the cray compiler wrappers downstream with the config.mk, everything works.

[2022-02-21 09:54] francois-kitware commented on #897
Hello,

just to mention that ParaView-Catalyst now supports the field-data via the `state` node. You can look at the [documentation](https://gitlab.kitware.com/paraview/paraview/-/blob/master/Utilities/Doxygen/pages/ParaViewCatalystProtocol.md):

The field is not associated to any topology and it could be a string, a numerical array or an array following the
[MCArray Blueprint](https://llnl-condui

[2022-02-21 09:54] #897 closed, assigned to nobody

[2022-02-22 20:26] #922 closed, assigned to nobody

[2022-02-22 20:28] cyrush opened #924 "save_mesh: Add option to add expressions"
Add an option to provide expressions (https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#expressions-derived-fields) to `relay::io::blueprint::save_mesh` so they end up in the root file and can be used in VisIt.

[2022-02-22 23:36] cyrush commented on #897
@francois-kitware, thanks for the update, glad this strategy is working for you!

[2022-03-03 01:55] YvanFournier opened #927 "Documentation: a mixed topology example would be useful"
Hello,

As of v0.82, is there an example for mixed topology meshes ?

The documentation (https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#mixed-shape-toplogies) is minimal, with no example, so it is not clear whether specific names are needed.

Printing a Conduit node generated with braid ("quads_and_tris" for example) seems to use a different logic, not mentioned in the documenta

[2022-03-03 18:09] cyrush commented on #927
@YvanFournier, here is some info:

The current unstructured support really only allows multiple topologies (one per shape type) to support this use case.  That's not ideal, b/c while they can share the coordinates - this forces you to have multiple fields (one connected to each shape type topology)

You can use the polygonal or polyhedral mesh types now for cases like this.

The plan for future mi

[2022-03-03 20:26] cyrush opened #928 "relay io bp save mesh default should be hdf5 when avail"
the method defaults to conduit binary, which is the least used format.
We should use hdf5 if available.

[2022-03-03 20:58] YvanFournier commented on #927
@cyrush Thanks for the info.

Ok, I can convert everything to polyhedra when I have more than one cell type (or prisms or pyramids), and not bother with mixed for now. I would have had to do this for prisms and pyramids anyways. Though it will probably lead to higher memory usage (x3) for the time being.

[2022-03-04 16:24] cyrush opened #930 "conduit needs explicit link for SZ when hdf5 is built with SZ support"
case that appears in build_visit

[2022-03-04 16:24] cyrush commented on #930
sz info is not inferred for from hdf5 configs, it may need to be explicitly passed (like zlib)

[2022-03-04 17:09] cyrush commented on #930
a direct path to sz is already in the link line - however it also appears as `-lsz`.

On macOS, not being able to link stops us, on linux systems things will happily continue.

Seems like we might need to filter the HDF5 linking flags to avoid this.

[2022-03-05 00:19] cyrush commented on #930
I used this mod to SetupHDF5 as a temporary fix:

[code]

Checking the hdf5 settings file, everything appeared to be fine with the link dirs and the libs.
So I need to investigate more why this caused an error.

[2022-03-08 18:39] cyrush opened #932 "provide top level blueprint interface to mesh rep transforms"
We have many building blocks to switch between mesh representations, like promoting an implicit uniform grid to an explicit unstructured mesh.

The low level building blocks are provided by  namespaced methods that target a single domain, we should wrap these into a top level interface that supports multi domain meshes and simplifies their use with a set of options that can easily wrapped across a

[2022-03-14 21:56] aaroncblack opened #933 "Request: Add function to retrieve node that throws exception if path or child not found."
Conduit has the following functions for retrieving nodes in a tree:
- fetch
- operator []

I believe both of these functions will auto-insert a missing entry and then return the new node, similar to the C++ std::map operator[] function.

I think another function that does not auto-insert a node would be handy, the equivalent of the c++ std::map at() function.

This would be considered something fo

[2022-03-14 22:20] aaroncblack commented on #933
fetch_existing() provides this functionality!

[2022-03-14 22:20] #933 closed, assigned to nobody

[2022-03-14 22:20] cyrush commented on #933
@aaroncblack

You can use `fetch_existing` for this case:

https://github.com/LLNL/conduit/blob/af5adda7c6dc30d3ebe1e0f34fa1c25f47fa58c7/src/libs/conduit/conduit_node.hpp#L3890

You can also use the `operator::[]` when you have `const Node &`

[2022-03-15 16:09] cyrush commented on #930
resolved in #935

[2022-03-15 16:09] #930 closed, assigned to nobody

[2022-03-17 22:18] cyrush opened #939 "pip install differences between platforms"
To create the conduit python library, we build several compiled shared libs, and place those in a directory hierarchy with python source that imports them.

This is done with a combo of cmake and then distuils for the pure python parts.

To support pip install, we provide a setup.py that drives cmake to build and install the module.

While the module gets built and installed by cmake to a temp dir

[2022-03-17 22:46] cyrush commented on #939
For the broken case, `conduit-0.0.0-py3.8.egg`, will include a `conduit` directory that has the pure python files ....

(I can also get this file to be called   `conduit-0.8.0-py3.8.egg` by adding a version arg to the  `py_src/setup.py` but that doens't resolve the problem)

I also noticed that RPATHs aren't updated, I may need to build a flattened structured for pip to be able to repackage it.

[2022-03-17 22:58] cyrush commented on #939
the strangeness on the linux system is not related to the top level `setup.py`, it starts with the `py_src/setup.py`

[2022-03-18 22:09] cyrush commented on #939
env setting `SETUPTOOLS_USE_DISTUTILS=stdlib` seems to fix the issue on the linux system (stops cracked eggs from being created)

[2022-03-21 21:19] cyrush opened #940 "rename and remove helpers utils for coordset, topology, etc"
support cascading remove / renames that keep valid blueprint

rename a coordset (and update all assoced topos)
remove a coordset (and remove all assoced topos, fields, matsets, adjsets, etc)

rename a topo (and update assoced fields, matsets , adjsets, etc)
remove a topo (and all assoced fields, matsets, adjsets, etc)

q: are there other things of this type we want?

[2022-03-21 21:20] cyrush commented on #940
@aaroncblack -- to track what we talked about

[2022-03-22 20:37] cyrush opened #941 "consider stricter semantics for `Node::set`"
before `Node::update` and `Node::update_compatible` existed, `Node::set` semantics were created to support the case where updating a compatible array would copy without modifying the number of elements as long as the input data type is compatible.

Here are the relevant details, `::init` is called on every `Node::set`:

https://github.com/LLNL/conduit/blob/68b850ea502fd358e21e123c19284f6dfd06a075/

[2022-03-22 21:31] cyrush commented on #941
q: how does this interact with prior `set_external` cases?

[2022-03-22 22:11] cyrush commented on #896
@ax3l  I am going to close, since we have this in our latest release and we have a HDF5 1.12 case in our CI. If you have any new problems please let me know with a new issue.

[2022-03-22 22:14] #896 closed, assigned to nobody

[2022-03-23 01:09] ax3l commented on #896
Awesome, thanks a lot @cyrush !

[2022-03-23 21:33] cyrush commented on #634
mpi deps are not provided by the config.mk for hdf5 case.

this is also the case for our general mpi enabled libs.

folks will need to use an mpi compiler, or provide the mpi headers and libs themselves.

[2022-03-23 21:33] #634 closed

[2022-03-23 23:56] cyrush opened #943 "mesh bp utils, paint nestsets"
pull in code this code from Ascent  so we can use it more widely (VisIt)

https://github.com/Alpine-DAV/ascent/blob/f9253d49848e3f520d1c9fadcacb68f149c2441c/src/ascent/runtimes/ascent_main_runtime.cpp#L1852

This code paints a ghost field that reflects AMR nesting info

[2022-03-25 22:26] agcapps opened #944 "Document AMR; document corners"
Some blueprint mesh operations, like flattening AMR or generating "corners," get pretty involved.  For ease of comprehension, and to save brain sweat, we need more documentation with nice diagrams, intermediate steps, and corresponding Blueprint trees.

[2022-03-25 22:26] agcapps commented on #944
@cyrush , thanks for the discussion Friday March 25.

[2022-03-25 22:49] cyrush opened #945 "refactor mesh transform calls that don't use mpi into non mpi lib"
Several transform methods in `conduit::blueprint::mpi::mesh` don't use MPI.

(for example:)
conduit::blueprint::mpi::mesh::generate_sides

They provide a multi-domain interface to these transformations. They do take into consideration things like adjsets, which represent MPI context, but they don't need to use MPI to execute the transforms.

These methods should be moved into the non mpi blueprint

[2022-03-25 23:03] cyrush commented on #945
some expect adjsets, we should be able to have version that don't need them as well.

[2022-03-29 00:13] cyrush commented on #921
resolved in #942

[2022-03-29 00:13] #921 closed, assigned to nobody

[2022-03-29 16:42] agcapps opened #948 "1D mesh example"
We have plentiful 2D examples; a need came up recently for 1D.

[2022-03-30 00:43] nselliott opened #950 "Add 3D mesh to t_blueprint_mpi_mesh_polytopal"
A simple 2-domain 3D mesh should be added to do the same things that are being done in 2D in this test.

[2022-03-30 21:36] #950 closed, assigned to nselliott

[2022-03-30 23:35] cyrush commented on #939
resolved in #937

[2022-03-30 23:35] #939 closed, assigned to nobody

[2022-03-30 23:37] cyrush commented on #887
will be resolved in #936

[2022-03-30 23:42] cyrush commented on #550
closing, since we are actually going to support this with nd extensions (strides, etc)

see: #926

[2022-03-30 23:42] #550 closed

[2022-04-08 23:51] cyrush opened #955 "do we need a more robust centroid algo?"
for many polygon cases -- we may need a more robust centroid algo, such as:

https://en.wikipedia.org/wiki/Centroid#Of_a_polygon

I think we are using simple weighting:

https://github.com/LLNL/conduit/blob/742a29989b40ca50c70e9327a5887345e425786b/src/libs/blueprint/conduit_blueprint_mesh.cpp#L1292

We can also simplify the existing code using the new element lambdas and value accessors.

[2022-04-15 02:03] kennyweiss opened #958 "Add `relay::mpi::isend_using_schema`"
I'm developing an mpi application where ranks need to send conduit nodes to each other in a point-to-point manner.
E.g. imagine a ring where each rank sends a node to its left neighbor and receives from its right neighbor.

This was causing the application to deadlock with using `send_using_schema` and `recv_using_schema`.
I was able to resolve by adapting the `send_using_schema` to an `isend_usin

[2022-04-15 15:47] cyrush commented on #958
Yes, knowing how you approached this would be great!

It might be helpful to review:

https://github.com/LLNL/conduit/pull/433

For isend/irecv - the a prior constraints are hard to tackle for the general case.

For the sync case, every pair has to post their send/recv in the same order, or else deadlock. For your case - isend, irecv is the right approach for sure.

General solutions for isend/ire

[2022-04-15 17:03] kennyweiss commented on #958
Thanks for the pointers @cyrush

I'm currently using a non-blocking send (`MPI_Isend`) with a blocking receive (`MPI_Recv`).

I think I still need to tweak my solution a bit since some runs are getting invalid conduit nodes on the receive side (see below).

----

Here's what I currently have:
https://github.com/LLNL/axom/blob/cf11f5210d9751e785be4bd05e1b0638897cbeb4/src/axom/quest/DistributedClose

[2022-04-15 19:04] FreddieWitherden commented on #132
Is this still on track for 0.9.0?  I ask, as the lack of support for square-based pyramids and triangular prisms is one of the blockers preventing PyFR from using Conduit.

[2022-04-15 19:16] cyrush commented on #132
Yes, thanks for asking. Knowing this is a blocker we can address.

Q:  Is this in the context - do the meshes have heterogeneous element types -- you want hexs, tets, and wedges all in one topology?

Currently, heterogeneous (or mixed element types) are only supported via arbitrary polygonal / polyhedral descriptions.

But we want to provide a simpler path for the finite element zoo types that con

[2022-04-15 19:45] FreddieWitherden commented on #132
We do work (almost entirely) with mixed grids.  For the most part we are fine with separate topologies, however.  PyFR internally has separate solution arrays for the various element types we support and so this is not much of an issue.  The only exception is with pyramids where our subdivision algorithm (we're a high-order code) breaks pyramids down into smaller pyramids and tetrahedra.  Here, if

[2022-04-15 20:13] kennyweiss commented on #958
I updated my solution based on `send_using_schema` and `isend` along with its associated `conduit::relay::mpi::Request` struct to ensure the temporary nodes/schemas survive the send/receive loop.

Here's the update:
* Combined isend/recv:
  https://github.com/LLNL/axom/blob/7d5e7a99644a93dabc166c494897fc61f6df44ef/src/axom/quest/DistributedClosestPoint.hpp#L158-L175
* Updated `isend_using_schema`

[2022-04-19 22:56] cyrush opened #960 "Build issue: fortran vs mpi"
[code]

[2022-04-22 21:18] cyrush commented on #633
Note, we will also see these warnings with MPI on some systems that set the MPI_ROOT env var as part of modules.

[2022-04-22 21:18] #633 closed

[2022-04-22 21:19] cyrush opened #961 "CMP0074 with MPI"
related to: https://github.com/LLNL/conduit/issues/633

but happens with MPI.

Current fix wraps hdf5 with the policy -- perhaps we expand for all deps.

[2022-04-23 00:20] cyrush opened #962 "mesh bp verify for index failure"
generated index fails due to `coord_system/type: "logical"`?

here is a snippet:

[code]

here is the failure:

[code]

[2022-05-03 18:06] cyrush commented on #962
in this case the coordset was presented is:

[code]

[2022-05-04 14:45] andrewcorrigan opened #964 "add_subdirectory support"
I am working on adding conduit to a project and see the documentation [1] that shows how to do so using `find_package`.  I tried instead doing so using `add_subdirectory`

[code]

This creates a target named `conduit`, but when I add this target as a dependency to my executable, it doesn't set include directories leading to errors like:

[code]

1. Is `add_subdirectory` supported currently?  If so

[2022-05-05 16:38] cyrush commented on #964
@andrewcorrigan  thanks for the question.

I just want to make sure we understand the goal -- would you like to use the conduit lib only, or other libs as well?

One challenge beyond the peculiar build time include strategy we use (which I think you may have a fix for) is that the conduit lib uses object libraries elsewhere in the source tree as dependencies.

Here is where they come in:

https://

[2022-05-05 17:13] andrewcorrigan commented on #964
Thanks for following up 😁

I would like to use `conduit`, `conduit_relay`, `conduit_blueprint` and if there are internal dependencies on something like `silo` or `hdf5` for those to be inherited automatically (typical cmake target behavior).

I'll look into this, but so far, it hasn't been an issue, the `conduit`, `conduit_relay`, and `conduit_blueprint` targets already are taking care of linking

[2022-05-05 18:11] #964 closed, assigned to nobody

[2022-05-05 18:11] cyrush commented on #964
Great thanks for more context! I misunderstood at first and thought you were just trying to add the src/libs/conduit subdir, which would not have worked w/o the other cmake logic.

Happy to include your changes -- just merged the PR .

[2022-05-05 19:28] #962 closed, assigned to nobody

[2022-05-06 16:37] nselliott opened #966 "verify method for the Blueprint index"
We can call `verify()` on a mesh to confirm that it correctly follows the Blueprint schema, but is there anything analogous for the Blueprint index, to check that a Node that claims to hold a Blueprint index is following a valid schema for the index?

[2022-05-06 16:55] cyrush commented on #966
hi @nselliott  -- yes, there is, it's `conduit::blueprint::mesh::index::verify`

[2022-05-06 16:56] cyrush commented on #966
https://github.com/LLNL/conduit/blob/3edfd63095da3e7a94ea2ae4537abb5ae7b4b547/src/libs/blueprint/conduit_blueprint_mesh.hpp#L704

[2022-05-06 17:22] nselliott commented on #966
Thanks @cyrush , somehow I overlooked that while looking all over.  Will give it a try.

[2022-05-06 17:22] #966 closed, assigned to nobody

[2022-05-06 17:33] cyrush commented on #966
No worries!

[2022-06-07 06:39] mennodeij opened #971 "Polyhedral/Polygonal support for stream-based mesh blueprint - how to best do this?"
Good morning,

I'm working on adding support for mixed cell streams to the VTK/ParaView implementation of Conduit/MeshBlueprint for in-situ processing. A [merge request](https://gitlab.kitware.com/vtk/vtk/-/merge_requests/9240) is pending at the moment , but before this is merged I wanted to check here if my approach is valid when using `element_counts` or `offsets`. Two examples are given below f

[2022-06-07 14:40] cyrush commented on #971
@mennodeij  The steam_id + stream concept is an older one that we never fully adopted. It was heavily influenced by VTK's in memory connectivity format, but folks found it confusing in practice.

Right now, only official way to do mixed element types is a full polyhedral description using sizes, offsets, and subelements.

The polytess and polychain example outputs provide good context:

https://ll

[2022-06-08 05:43] mennodeij commented on #971
@cyrush Thank you for your detailed answer.

My initial impression was the opposite, that the stream_id concept was something new that wasn't yet documented. Good to check here about it. Is it something that you will keep, or will it be removed at some point?

Currently we have an implementation for in-situ processing in our flow code with conduit/meshblueprint and paraview that uses the full poly

[2022-06-09 20:44] cyrush opened #973 "relay io blueprint save index bug"
Using blueprint io save, if you have a directory as part of the output base, this corrupts the blueprint index:

[code]

File is written fine -- but you can't open with visit b/c it looks for the data in the wrong place:

`here/here/output.cycle_000100.root`

[2022-06-10 15:07] cyrush opened #974 "need extra guards hdf5 1.12 but using old api"
folks can build hdf5 in an API compatibility mode (allowing new hdf5 to stick to older APIs)

So cases where we are using:

`#if H5_VERSION_GE(1, 12, 0)`

also need to be gated by:

`!defined(H5_USE_18_API)`

[2022-06-10 15:20] cyrush opened #975 "round trip parsing for nans works for yaml but not json"
Heuristics for nan processing are inconsistent between `yaml` and `json`:

yaml has the behavior we want:

[code]

json does not:
[code]

[2022-06-10 15:21] cyrush commented on #975
@kennyweiss I believe you hit this issue

[2022-06-10 16:31] kennyweiss commented on #975
Thanks @cyrush -- this is exactly what I saw. Specifically, when opening a json blueprint file with `NaN`s in VisIt

[2022-06-11 14:34] cyrush commented on #971
Sorry, yes by zoo style finite elements I mean common elements like triangles, quads, tets, hexs -- vs arbitrary polygonal/polyhedral.

With the o2m approach, I think that main change would be that the stream_ids would not be embedded in the connectivity.

The current stream_id looks like:

[code]

We would instead have the stream_ids in a separate array and use offsets strides, (and indices if ne

[2022-06-13 08:00] mennodeij commented on #971
Ok, clear. My first proposal to support this would be this:

[code]
(Note 1: actual indices are made up and only serve illustration purpose).
(Note 2: VTK_* cell types are written out, but in practice will of course be replaced by their numeric value)

So to summarize:
* support a `'topologies/mesh/elements/element_types/mixed'` entry
* mixed definition can contain any cell type supported
* in cas

[2022-06-13 17:17] cyrush commented on #971
Yes, here is a suggested iteration, let me know what you think:

[code]

Changes:
- Adds `shape_map` which gives a way to map the ints to the string element names supported by the blueprint
- Simplifies the tree a bit

[2022-06-14 06:25] mennodeij commented on #971
Thank you for the suggestion and improvements, I like it.

I have one question though, I was playing a bit with the `o2mrelation` and its validation (see `conduit::blueprint::o2mrelation::verify` in [conduit_blueprint_o2mrelation.cpp](https://github.com/LLNL/conduit/blob/b9c5cfda2561fc0785d499570818e9de2de123f5/src/libs/blueprint/conduit_blueprint_o2mrelation.cpp#L69)) yesterday, and I noticed tha

[2022-06-14 21:22] cyrush commented on #971
Yes, the hope is that the `connectivity` array serves as the `data` in the o2m

I can see that adding the `shapes` at the same level might tangle with the o2m.

I will try to look at a few possible cases in practice and see what is possible.

For wedge and pyramid, we do want to add these as officially supported element types:

https://github.com/LLNL/conduit/issues/132

It's easy to add them as n

[2022-06-14 21:24] cyrush opened #976 "adjset to pariwise can create non matching pairs across domains"
@agcapps has an example.

We need to have a consistent order and way to turn non-pairwise variants for adjsets into pairwise ones.

[2022-06-16 12:42] mennodeij commented on #971
I propose to continue the discussion in #977 .

[2022-06-16 12:42] #971 closed, assigned to nobody

[2022-06-17 16:55] cyrush opened #978 "braid example fields provide extra info that might be confused as req'd for blueprint"
Braid field trees also provide type info, such as:

[code]

This info is fine, but isn't required by the blueprint, so it could mislead folks to thinking it is required.
We should remove these entries.

[2022-06-18 14:35] FreddieWitherden opened #979 "PyPI Support for the Python Wrappers"
It would be nice if conduit was available as a package on PyPI.  In order to keep things sane the package would probably have to come in source form depend on a pre-existing conduit install (a bit like how mpi4py depends on MPI having already been installed or pyopencl depends on an available OpenCL install).  This would be very useful for those who work in virtual environments.

One slight snag i

[2022-06-19 01:02] cyrush commented on #979
I agree this would be nice to provide.

Now that we have better setup.py support --- this might be easier to do this than in the past.

We would need to learn the right strategy to create the package - if you have any specific examples we could follow that would be great. I believe there are nice templates for using docker + manylinx to build wheels suitable or pypi, but I don't recall them right

[2022-06-23 20:34] cyrush opened #981 "problem building with perlmutter system hdf5"
Build issue on Perlmutter using spack:

[code]

Newer CMake or HDF5 may not be providing the same cmake vars that we rely on for sanity checks.

[2022-06-23 20:40] cyrush commented on #981
This is w/ cmake 3.22.0

[2022-06-27 18:31] cyrush commented on #979
ci wheel build setup:
https://github.com/pypa/cibuildwheel

[2022-06-27 18:37] cyrush commented on #979
Example cibuildwheel github actions setup for numpy:
https://github.com/numpy/numpy/blob/main/.github/workflows/wheels.yml

[2022-06-29 20:42] FreddieWitherden commented on #979
Some care is likely needed around binary distribution.  For example, what happens if one wants to install ascent? If their conduit has come from PyPI then `import conduit` will load a version of conduit which is different to that which is installed on the system and hence `import ascent`, which implicitly depends on conduit, will bring in a second, possibly different, version.

[2022-07-14 05:36] cyrush commented on #981
Same problem exists on crusher.

If we change the HDF5 inspection sanity checks from `FATAL_ERROR` to `STATUS` or `WARNING`,  it will work. (Verified on Crusher with system HDF5 module: `cray-hdf5-parallel/1.12.1.1`)
Changes are needed in both `SetupHDF5.make` and in `config/conduit_setup_deps.cmake`.

[2022-07-15 21:43] #981 closed, assigned to nobody

[2022-07-15 22:53] #974 closed, assigned to nobody

[2022-07-19 15:59] cyrush opened #984 "flang compiler error (encountred in amd clang env)"
[code]

[2022-07-19 18:33] cyrush commented on #984
flang doesn't like statements like this:

[code]

`F90-S-0450-Argument number 1 to assert_true: kind mismatch`

The return type of `conduit_node_is_root` is `logical(C_BOOL)`

I also tried:

`call assert_equals( conduit_node_is_root(n) , .true.)`

[2022-07-26 22:43] agcapps commented on #948
PR #968 has started to address this.

[2022-07-26 22:43] #948 closed, assigned to agcapps

[2022-07-28 17:32] cyrush opened #988 "expose more conduit to string methods in C API"
Add `to_yaml`, `to_string`, `to_summary_string`, etc

Discussed in https://github.com/LLNL/conduit/pull/987

[2022-07-28 21:41] gunney1 opened #989 "Expand support for completing non-blocking requests"
I'd like to have more flexible ways to complete `conduit::relay::mpi::Request`s from non-blocking communications.  Specifically,
1. support the way applications store Requests and
2. provide a choice to use MPI_Waitsome and MPI_Testsome to complete the MPI side of the requests.

Conduit "wait" functions requires a C array of Requests.  Building such an array requires reallocating memory when we ru

[2022-07-29 21:37] gunney1 opened #990 "Allow recv_using_schema to work with MPI_ANY_SOURCE and MPI_ANY_TAG"
This requests a small change in `conduit::relay::mpi::recv_using_schema` to make it work properly when the source is `MPI_ANY_SOURCE`.

This currently doesn't work because the `MPI_Recv` doesn't necessarily catch the message found by the preceding `MPI_Probe`, because it doesn't specifically identify the message it wanted (and allocated memory for).  To fix this, replace
[code]
with
[code]

Better

[2022-07-30 02:10] cyrush commented on #989
Instead of an all in one method, how about adding `wait_some` and `test_some` methods.

Would it be possible to also support this for recv, if we use std::list as the primary interface for passing the data?

[2022-08-06 22:58] cyrush commented on #927
@YvanFournier  -- we now have support for mixed topologies, and there is an example that shows both polyhedra and standard elements:

https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#mixed-topologies-with-shapes-shape-map

[2022-08-06 22:59] cyrush commented on #887
these steps were completed.

[2022-08-06 22:59] #887 closed, assigned to cyrush

[2022-08-06 23:00] cyrush commented on #710
resolved in #971

[2022-08-06 23:00] #710 closed, assigned to nobody

[2022-08-06 23:10] cyrush commented on #464
Mesh blueprint now has mixed topology support from #980 and #977

[2022-08-06 23:10] #464 closed

[2022-08-08 14:39] cyrush opened #991 "add docs section on multi-domain meshes"

[2022-08-11 16:29] cyrush opened #992 "to_json() and to_yaml() for empty numeric arrays creates blank entry which can't be parsed"
reported by Alan Dayton:

[code]

[code]

[2022-08-11 20:51] cyrush opened #994 "random MPI crashes in CI"
we are seeing occasional MPI test crashes in our python windows CI cases.

Where there is smoke - there is fire.

Here is an example of one of the crashes:

[code]

(I will add more as we see them)

It could be an MPI configuration issue, or maybe a memory error.

[2022-08-11 21:10] cyrush commented on #973
Good advice from former self:
[code]

[2022-08-11 22:09] cyrush commented on #992
resolved in #933

[2022-08-11 22:09] #992 closed, assigned to nobody

[2022-08-11 22:49] cyrush commented on #994
[code]

[2022-08-11 22:56] cyrush commented on #994
the fact that t_blueprint_mpi_smoke fails, makes me suspicious of a resource issue in the CI env.

[2022-08-12 14:48] wangzhezhe opened #996 "Building error on Ubuntu 22.04.1 LTS"
Hello, there is a quick question about building the conduit on Ubuntu 22.04.1 LTS.
The gcc version is
[code]
I follow the instructions in quick start (https://llnl-conduit.readthedocs.io/en/latest/quick_start.html) and got following error messages during the spack installation:

[code]

Could you provide some help for solving this problem? Thanks!

[2022-08-12 16:25] adayton1 opened #997 "Load from subpath broken with json"
I'm hitting an exception when calling `conduit::relay::io::load(const std::string& path, conduit::Node& node)` using a subpath. My path is of the form `myDirectory/myFile.json:path/to/data`. The exception occurs at the following line:
https://github.com/LLNL/conduit/blob/develop/src/libs/conduit/conduit_node.cpp#L355. When examining in a debugger, the call to open the file uses the full string (`m

[2022-08-12 21:48] cyrush commented on #994
[code]

[2022-08-12 22:06] cyrush commented on #994
mystery solved:

The github actions setup mpy4py action we are using is tested with windows-2019.

Our clang build was pinned to that, but other windows cases were using `windows-latest`, which recently changed to `windows-2022`.

To resolve, we are pinning to windows-2019 in #995

[2022-08-12 23:06] #973 closed, assigned to nobody

[2022-08-13 00:11] cyrush commented on #997
Turns out support wasn't there yet, but I am adding in #999

[2022-08-13 00:11] #996 closed, assigned to nobody

[2022-08-13 00:12] cyrush commented on #994
resolved in #995

[2022-08-13 00:12] #994 closed, assigned to nobody

[2022-08-13 00:16] cyrush commented on #927
`braid` examples also create data of this type when you pass `mixed_2d` (2d topology) or `mixed` (3d topology) as `mesh_type` argument.

I feel this is now complete, so I will close.

[2022-08-13 00:16] #927 closed, assigned to nobody

[2022-08-13 15:41] #997 closed, assigned to nobody

[2022-08-13 18:54] cyrush commented on #984
@aaroncblack  Wondering if you have seen anything like this with flang before?

[2022-08-13 18:56] cyrush commented on #812
partially done in #850

[2022-08-13 18:59] cyrush commented on #812
Also, when reading if overlink neighbor info arrays exist, they should be read into an adjset.
And adjset info should be written to overlink files

[2022-08-13 18:59] cyrush commented on #812
@JustinPrivitera this is the Silo work I mentioned for the future.

[2022-08-13 19:05] cyrush commented on #612
Closing - versioning with Conduit releases is working OK.

[2022-08-13 19:05] #612 closed

[2022-08-13 19:08] cyrush commented on #132
@JustinPrivitera another Conduit task we discussed.

[2022-08-14 17:47] cyrush opened #1001 "blt update for conduit 0.9.0 release"
Prior attempt here has some of the logic we will need:

https://github.com/LLNL/conduit/pull/789/files

[2022-08-14 19:59] #961 closed, assigned to nobody

[2022-08-15 16:50] aaroncblack commented on #984
It looks like flang is complaining that 'logical' ( the type of .TRUE. ) and logical(kind=c_bool) are different sizes.  Maybe flang is picking a 1 or 2 byte representation for logical as its default, and c_bool is probably int size.

Easiest workaround is to make your own logical to compare against.  Or add a flag to suppress the warning ( since the compiler can safely upcast or downcast to make t

[2022-08-15 16:52] cyrush commented on #984
thanks @aaroncblack !

[2022-08-15 21:35] #975 closed, assigned to nobody

[2022-08-15 23:07] gunney1 commented on #989
Sorry for the late response.

Yes, I think if you support wait_some and test_some **AND** std::list as the primary interface for passing data, it would be what we need.

[2022-08-16 02:35] cyrush commented on #984
still lost in the fortran jungle -- I think the issue is with what fruit expects for its functions params (`assert_true`, etc)

[code]

[code]

I also tried `assert_equals`, but it can't resolve the proper type

[code]

[code]

Flags might help, but I expect some trouble with using them across compilers.
It would be nice if we could find how we can construct the proper fruit asserts.

[2022-08-16 02:53] cyrush commented on #984
I think this is a path to victory:

[code]

I'll use this approach for all of our tests.

[2022-08-16 17:49] cyrush commented on #989
@gunney1

Great, I started working on this, a question:

Your method checks and when the requests are fulfilled, and removes fulfilled ones those from the list.
(We can detect the send vs recv case and do the proper node cleanup)

For the general case -  do we want to know which ones completed?

Do we want:

[code]

For rounds of communication.

or something like:

[code]

If we want to take some

[2022-08-16 18:42] #700 closed, assigned to nobody

[2022-08-16 18:42] #984 closed, assigned to nobody

[2022-08-16 18:43] cyrush commented on #988
resolved in #1003

[2022-08-16 18:43] #988 closed, assigned to nobody

[2022-08-18 19:11] cyrush commented on #945
mostly complete in #1007

mpi versions remain, but they simply call out to the non mpi versions.

Last step:
Allow them to work in the case we pass a single domain mesh, and in the case we do not have an adjset.

[2022-08-18 22:14] gunney1 commented on #989
It may be possible that I want to have the completed requests around for some reason, although I probably don't care about the out_indices.  What do you think of moving the completed requests out of the input list and placed into another list to return?  Something like
[code]
Would that work?  Of course, you can also have both lists in the argument and return void.

[2022-08-18 22:24] cyrush commented on #989
Yes, that's a great idea! Style wise I would like to pass a ref to the list for the output as well.

[2022-08-18 22:39] cyrush commented on #945
Below is the full set of methods we want.

Current paths always assume adjsets are involved.
The non-adjset cases require some internal refactoring to implement, so we tackle in 0.9.0

[code]

[2022-08-20 00:50] cyrush commented on #990
@gunney1  this change was added in #1009

[2022-08-20 00:50] #990 closed, assigned to nobody

[2022-08-22 15:31] yurivict opened #1010 "configure finds MPI and says 'MPI Support is ON` but then binaries aren't linked with MPI libraries"
Portion of the configure log:
[code]

```ldd -a work/stage/usr/local/bin/conduit_relay_io_ls  | grep mpi``` doesn't show that MPI libraries are linked.
And there are no static MPI libraries present.

Version: 0.8.3
clang-14
FreeBSD 13.1

[2022-08-22 15:55] cyrush commented on #1010
@yurivict Conduit MPI features are only in a few libraries. `conduit_relay_io_ls` does not leverage MPI directly, so it does not link MPI.

The only exception to this will be the case when Conduit is build against an HDF5 that depends on MPI, then MPI libs should be propagated to conduit relay dependent libs and exes.

[2022-08-22 18:27] yurivict commented on #1010
This works, thanks!

What is the way to change MPI implementation in conduit?
When I set ```-DENABLE_MPI=ON -DMPI_HOME=/usr/local``` in order to choose mpich which is installed in ```/usr/local``` it still uses OpenMPI from ```/usr/local/mpi/openmpi```.

[2022-08-22 19:00] yurivict commented on #1010
I'll create a separate issue for the next problem.

[2022-08-22 19:00] #1010 closed, assigned to nobody

[2022-08-22 19:03] yurivict opened #1012 "conduit links to both mpich and OpenMPI libraries when both are installed"
Configure says this:
[code]

But then libraries from both MPI implementations are linked, which isn't what should be desired:
[code]

cmake arguments:
-DHDF5_DIR=/usr/local  -DSILO_DIR=/usr/local  -DFREEBSD_EXAMPLESDIR=/usr/local/share/examples/conduit -DENABLE_MPI=ON  -DMPI_HOME=/usr/local -DCMAKE_C_COMPILER:STRING="cc"  -DCMAKE_CXX_COMPILER:STRING="c++"  -DCMAKE_C_FLAGS:STRING="-O2 -pipe -fno-om

[2022-08-22 19:07] cyrush commented on #1012
@yurivict  Can you try using `MPI_C_COMPILER`, `MPI_CXX_COMPILER` and `MPI_Fortran_COMPILER` CMake options to point to the openmpi or mpich compiler wrappers and see if that avoids this?

[2022-08-22 19:23] yurivict commented on #1012
Still the same problem when the above variables are set.

-DHDF5_DIR=/usr/local  -DSILO_DIR=/usr/local  -DFREEBSD_EXAMPLESDIR=/usr/local/share/examples/conduit -DENABLE_MPI=ON  -DMPI_HOME=/usr/local  -DMPI_C_COMPILER:FILEPATH="/usr/local/bin/mpicc"  -DMPI_CXX_COMPILER:FILEPATH="/usr/local/bin/mpic++"  -DMPI_Fortran_COMPILER:FILEPATH="/usr/local/bin/mpif90" -DCMAKE_C_COMPILER:STRING="cc"  -DCMAKE_C

[2022-08-22 22:35] yurivict commented on #1012
I found the reason.
conduit was already installed with different options and this caused confusion.
Some library requirements in the built instance were translated through globally installed conduit libraries and this caused confusion.

Sorry again for the noise!

Thank you for your help.

[2022-08-22 22:35] #1012 closed, assigned to nobody

[2022-08-22 23:31] cyrush commented on #1012
@yurivict no worries & glad you solved the mystery!

[2022-08-24 15:13] cyrush opened #1014 "condaforge build issue with 0.8.4 (python 3.8 cases)"
Missing shared `libcrypto.so`

Python 3.7, 3.9 cases are ok, windows cases are ok.

[code]

[2022-08-27 15:24] cyrush opened #1015 "generate index metadata enhancements"
* expand blueprint index to take options node
* add option for new map-based bp index (supports all cases including AMR)
* add options to compute more metadata
  * extents (for coordsets and fields)
  * number of elements
  * sizes (total strided bytes per MPI task, and total bytes per field, etc)

We want these metadata cases to be optional b/c they involve examining problem-sized arrays

[2022-09-22 16:19] biagas opened #1017 "'make install' equivalent on Windows doesn't install '__init__.py' files."
I compiled v 0.8.4 on Windows with Visual Studio 2017. When I built the 'install' target, none of the '__init__.py' files were installed.

[2022-09-30 16:50] acbauer opened #1019 "The Node::reset() method seems to be missing from the Conduit C interface"
I don't see any reset() method in conduit_node.h to correspond to the public Node::reset() method. The Node::reset() method is used in the Blueprint AMR examples so I'm thinking that if users wanted to try doing those examples (like I did) through the Conduit C interface it may be a bit difficult.

Is this intentional or an oversight that reset() isn't in the Conduit C interface? I didn't check on

[2022-09-30 16:54] cyrush commented on #1019
Not an intentional omission -- we can add it for both C and fortran.

I double checked, it is in the Python interface.

(C++ and Python are most used, there are more c and fortran gaps, but we are happy to address them)

[2022-10-05 22:04] #1019 closed, assigned to nobody

[2022-10-05 22:05] cyrush commented on #1019
@acbauer I added this in #1021

[2022-10-06 14:58] acbauer commented on #1019
Awesome -- very much appreciated!

[2022-10-18 20:22] cyrush commented on #1001
this should be resolved via #1022

[2022-10-18 20:22] #1001 closed, assigned to nobody

[2022-10-20 17:08] cyrush commented on #132
@FreddieWitherden FYI: conduit develop now support pyramids and wedges.

[2022-10-20 18:45] FreddieWitherden commented on #132
Great!  We are close to mainlining our Ascent plugin:

https://github.com/PyFR/PyFR/pull/307

and will be sure to take advantage of this support!

[2022-10-20 21:43] cyrush commented on #908
related to https://github.com/LLNL/conduit/issues/74

[2022-10-25 22:28] #978 closed, assigned to nobody

[2022-10-27 01:29] keyu-Li opened #1029 "How to visualize mixed mesh"
I am interested in mixed shapes topology. But I don't know how to visualize it, can you provide an example? Thanks!

[2022-10-27 23:02] cyrush commented on #1029
@keyu-Li  Conduit allows this in the Blueprint standard -- but Ascent hasn't added support for this case yet.

The `conduit::blueprint::mesh::examples::braid` with `mesh_type` == `mixed` or `mixed_2d` will create example meshs with mixed elements.

[2022-10-27 23:33] cyrush opened #1030 "csv to table to point mesh"
use case: Folks have a csv file with x,y,z columns and often variables and they want to view them as a point mesh in 3D.

I have provided python scripts to folks to create a blueprint mesh from CSV data -- but we should add a builtin transform to the blueprint lib that supports this common case.

[2022-11-02 15:16] brugger1 opened #1031 "Error building develop on quartz."
I just did a checkout of develop and did a build and it failed. Here is the build command.
[code]
Here is the error message.
[code]

[2022-11-02 15:29] brugger1 commented on #1031
I believe the issue is that the build directory is `spack-build-l2yrqui` when the script was expecting `spack-build`.
It looks like conduit built successfully. Manually changing directory to the build directory and doing a `make test` and `make install` appear to be successful.

[2022-11-02 15:34] cyrush commented on #1031
Thanks Eric -- the build dir now has a hash in the name, I need to update the tests in the spack package to reflect this.

[2022-11-02 23:31] adayton1 opened #1033 "Document zone and node ordering for uniform meshes"
I'm attempting to use Conduit's mesh blueprint protocol in an application, and I was wondering what order is implied by uniform meshes as it relates to a field array.

It's probably easier to explain what I mean with some drawings (pretend each number is the ID of a zone, left/right is the x axis, and up/down is the y axis).

Order by x, then y
6   7   8
3   4   5
0   1    2

Order by y, then x
2

[2022-11-02 23:34] cyrush commented on #1033
Yes, we should document - but the quickest answer is to view it in VisIt to see how field values vary with the logical mesh

[2022-11-02 23:58] adayton1 commented on #1033
Thanks for the tip!

[2022-11-03 00:00] adayton1 commented on #1033
Is there a way to say certain indices in a field array correspond to ghost data? Or do I just need to allocate a new array with only the data on the current domain?

[2022-11-03 00:04] cyrush commented on #1033
check out the strided structured example:

https://github.com/LLNL/conduit/blob/56bee65f4f5db1c1d0cfba5b062484ff2870c409/src/libs/blueprint/conduit_blueprint_mesh_examples.hpp#L57

This is a newer concept -- the striding isn't yet supported in VisIt.

In many use cases we use a field that identifies ghosts and then use that field to threshold when we want to get rid of ghosts.

[2022-11-03 00:13] cyrush commented on #1033
Here is a python example you can use to see the order:
[code]

![Screen Shot 2022-11-02 at 5 12 34 PM](https://user-images.githubusercontent.com/1194526/199625458-e1a3f900-ab37-4ef6-a6b9-f3b02cb24fc4.png)

[2022-11-04 01:41] #1029 closed, assigned to nobody

[2022-11-04 19:30] cyrush opened #1035 "Node::update_move and Node::update_swap"
[code]

Supports combined semantics of update and move/swap.

construct new children in a separate node, and assume them efficiently

use case:
iterate over children -- while creating new nodes that we want to become children.
assume new children after iteration (avoid invalidation iterator via insertion)

[2022-11-04 19:31] cyrush commented on #1035
@agcapps idea related to your use case to discuss in the future.

[2022-11-07 21:26] agcapps opened #1036 "Repeated tests on Windows fail"
Running the test suite on Windows causes some tests (that have to do with IO) to fail.  Recent failures include

97% tests passed, 3 tests failed out of 97

Total Test time (real) =  39.70 sec

The following tests FAILED:
         53 - t_relay_io_handle_sidre (Failed)
         72 - t_blueprint_mesh_relay (Failed)
         96 - t_conduit_docs_relay_io_handle_examples (Failed)

[2022-11-09 23:02] samuelpmishLLNL commented on #833
This appears to be causing segfaults in GCC on my ubuntu 22.04 machine, when trying to build serac through spack.

[code]

If I manually remove the `::::::::::::::::::::::::::::::` weirdness, it compiles fine

[code]

gcc 11.3, ubuntu 22.04

If I build conduit with the same compiler normally (checking out through github, rather than through spack), I don't get this issue.

[2022-11-09 23:45] white238 commented on #833
Probably related:

https://github.com/spack/spack/issues/3320

[2022-11-10 18:57] cyrush commented on #833
A while ago, the conduit recipe for `~shared` (static builds)  stripped out Spack's CMake rpath options to avoid problems:

https://github.com/spack/spack/blob/13852986a4fe1cf110074e44e7b5261833ca8b87/var/spack/repos/builtin/packages/conduit/package.py#L203

Maybe we need to restore this logic.

[2022-11-22 02:16] vsoch opened #1041 "Simple CMakeLists.txt"
Hi! I'm looking to build this with nix, and the way you have the custom install (running the bash script) is not ideal (it largely won't work). Can you share the most vanilla method to get this built with a standard cmake command? Apologies I'm not a heavy cmake user so I don't really know how it works. Thanks!

[2022-11-22 15:55] cyrush commented on #1041
Sure thing, our github actions for windows CI setup seems like a a good example:

https://github.com/LLNL/conduit/blob/36a58a4a782ceb799f6fb56c163a7f9564cf1207/.github/workflows/windows.yml#L21

If you want to enable more features, you can pass them with cmake args like:

[code]

Here is a list of the options (which I should convert to a table to make them easier to read!)

https://llnl-conduit.re

[2022-11-22 19:01] vsoch commented on #1041
Ah that's perfect - I'll keep this bookmarked! I wound up using a trick to cd into the src directory first, and then nix makes the build directory there and the `../` points to where it needs to be. And I think I got most of the basics with respect to flags https://github.com/rse-ops/nix/blob/0405825e4ff284e0e937c60baa78d2cbfa3c7e7a/pkgs/hpc/conduit/default.nix#L80-L92 and the bug I ran into was t

[2022-11-22 19:32] cyrush commented on #1041
Glad that helped!

For MPI, the best path is to set cmake opts:

[code]

to point to the MPI compiler wrappers (from mpich, etc)

The other case (usually on cray systems) is when you use compiler wrappers as the main compiler.
You pass the cray or mpi compiler wrapper to cmake as `CMAKE_C_COMPILER` (etc) instead of `MPI_C_COMPILER` (etc).

In this case you want `ENABLE_FIND_MPI` to be off.  That t

[2022-11-22 19:40] vsoch commented on #1041
Thank you! I've [made a note in our repository](https://github.com/rse-ops/nix/issues/3) and we are good to close here - I think this will mostly be me figuring out how nix achieves the same ability to get a prefix / etc for a package. I'll come back in the future if I have another question. Thanks for your help!

[2022-11-22 19:40] #1041 closed, assigned to nobody

[2022-11-23 22:47] adayton1 commented on #1033
The strided example I think is just what I need! Is there any time frame for when this might be supported in VisIt? Or when you write the data out to a file can you transform it to a format VisIt expects?

I have a couple more clarifying questions:

What happens if I just include ghost information (so basically the same zone shows up in two different subdomains of a mesh)? Can VisIt handle that? W

[2022-11-23 22:54] adayton1 commented on #1033
An interesting idea I just thought of is if a conduit::Node could accept a view in the call to set_external (e.g. RAJA::View), since a view could handle offsets and strides. But perhaps that would get way too complicated. The strided example above should work just fine.

[2022-11-25 03:34] vsoch opened #1042 "Question: why packaged with blt?"
Hi! Another question for you! Is there a reason conduit ships with the release that has blt? e.g., this URL pattern:

[code]
I'm wondering why it's not OK to build blt first, and then do a build of conduit that can include that?

[2022-11-28 17:59] cyrush commented on #1042
@vsoch

The source tarballs/zips generated by github do not include submodules, so we provide a tarball that includes BLT to make sure builds will work w/o extra steps. The included BLT is also the version used in our testing.

You can point conduit to another BLT, using the following cmake option:

[code]

And things should work modulo BLT differences that we haven't tested.

[2022-11-28 18:37] vsoch commented on #1042
Gotcha!

So my build error was something really stupid and confusing - I had a flag erroneously twice, and removing the second one fixed it? I don't even know how that happens! Anyway - no need to build blt separately the default worked great! Thank you!

[2022-11-28 18:37] #1042 closed, assigned to nobody

[2022-11-28 18:38] cyrush opened #1043 "caliper support"
Add caliper macros for source code annotations (inspired by exo) that will be noops when caliper is disabled.
Add api to setup caliper when host code or env vars are not used.

[2022-11-28 21:32] adayton1 opened #1044 "Add collective I/O support for HDF5"
The documentation says that Relay only supports collective I/O for ADIOS. Even if it did something simple like communicating everything to rank 0 and having rank 0 write everything out, it would still be helpful.

The following is from the documentation:

"The conduit_relay_mpi_io library provides the conduit::relay::mpi::io namespace which includes variants of these methods which take a MPI Commu

[2022-11-28 21:39] cyrush commented on #1044
We should chat - collective I/O for HDF5 is only valid at the data set level (think: for a single leaf of a conduit tree).

ADIOS (one) only worked with a collective I/O paradigm, so that is why that support is there.

We don't really use collective I/O in our sim codes - we but we do use MPI to coordinate parallel writes/reads of independent domain decomposed data. You can build coordinated paral

[2022-11-28 21:50] cyrush commented on #1044
also, just in case you don't know -- there is coordinated parallel I/O for blueprint meshes:
https://github.com/LLNL/conduit/blob/36a58a4a782ceb799f6fb56c163a7f9564cf1207/src/libs/relay/conduit_relay_mpi_io_blueprint.hpp#L66

[2022-11-28 23:11] #1031 closed, assigned to nobody